---
title: Resources
subtitle: Resources Library
layout: policy-catalog
permalink: /resources/
---

<section class="usa-graphic-list usa-section" style="padding-top:0">
  <div class="grid-container">
    <div class="usa-graphic-list__row grid-row grid-gap">
      <p>Welcome to the Resource Library. <b>Use the filters on the left to browse.</b> Our Resource Library includes Council publications, Playbooks, guidance, popular Federal IT websites, and more. Can't find what you're looking for? <a href="mailto:feedback@cio.gov">Contact us</a>!</p>

      {% include publications-buttons.html %}
      {% include publications.html %}

    </div>
  </div>
</section>
