---
title: Resources
subtitle: Resources Library
layout: page
permalink: /resources/
---
<div class="tablet:grid-col">
  <h3>Publications</h3>
</div>

<div class="grid-row grid-gap" style="padding:0">
{% for resources in site.resources %}

{% if resources.category == "publication" %}
  <div class="tablet:grid-col-3">
    <div class="shadow-1">
      <div class="text-container">
    <!--<p class="date">{{ resources.date | date: "%b %d, %y" }}</p> NOT SURE WE NEED DATE-->
        <div class="seprate-line"></div>
        <span class="title">{{ resources.title }}</span><br>
        <p class="description">{{ resources.description }}</p>
      </div>
      <div class="more">
         Read more ❯
       </div>
    </div>
  </div>
{% endif %}

{% endfor %}
</div>

<div class="tablet:grid-col">
  <h3>Office of Management and Budget</h3>
</div>

<div class="tablet:grid-col">
  <h3>CXO Council Community</h3>
</div>


<div class="tablet:grid-col">
  <h3>Other Sites</h3>
</div>
