---
title: Resource Library
subtitle: Including Council publications, Playbooks, guidance, popular Federal IT websites, and more.
layout: policy-catalog
permalink: /resources/
sidenav: false
---

<section class="usa-graphic-list padding-bottom-4">
  <div class="grid-container">
    <div class="usa-graphic-list__row grid-row grid-gap">

      <p class="font-sans-sm">Welcome to the Resource Library. Use the filters on the left to browse. Can't find what you're looking for?<a href="mailto:feedback@cio.gov"><font color="black">Contact us</font></a>!</p>

    </div>
  </div>
</section>

<section class="usa-graphic-list">
  <div class="grid-container">
    <div class="usa-graphic-list__row grid-row grid-gap">

      {% include publications-buttons.html %}
      {% include publications.html %}

    </div>
  </div>
</section>
