---
title: BETA Policy and Priority Catalog
subtitle: Providing a high-level look at focus areas for the CIO Council, including key federal IT policies.
layout: policy-catalog
permalink: /policies-and-priorities/
sidenav: false
---
<section class="usa-graphic-list padding-bottom-4">
  <div class="grid-container">
    <div class="usa-graphic-list__row grid-row grid-gap">

        <p class="font-sans-sm padding-top-5">Welcome to the BETA Policy & Priority Catalog. Use the filters on the left to browse. Can't find what you're looking for? Have feedback?<a href="mailto:feedback@cio.gov"><font color="black"> Contact us</font></a>!</p>

    </div>
  </div>
</section>

<section class="usa-graphic-list">
  <div class="grid-container">
    <div class="usa-graphic-list__row grid-row grid-gap">

      {% include policy-button.html %}
      {% include policy-catalog.html %}

    </div>
  </div>
</section>
