---
title: Policy and Priority Catalog
description: Welcome to the Policy & Priority Catalog. This is a high-level look at the topics our Council is currently focused on in Federal IT.
subtitle: Our Focus Areas
layout: policy-catalog
permalink: /policies-and-priorities/
sidenav: false
redirect_from:
  - /agenda/priorities/


---
<section class="usa-graphic-list">
  <div class="grid-container">
    <div class="usa-graphic-list__row grid-row grid-gap">

        <p class="font-sans-sm padding-top-5">Welcome to the Policies & Resources library. This is a high-level look at the topics our Council is currently focused on in Federal IT.
          Use the filters on the left to browse. This is a living catalog that is consistently updated as policies and priorities evolve.
          It is not exhaustive of all applicable technology policies. If you're looking for guidance on the policies, filter by resources.
          This is a living library, and is consistently updated as we identify or update technology guidance. Can't find what you're looking for? Want to suggest a resource?
          <a name="main-content" href="mailto:feedback@cio.gov"><font color="black"> Contact us</font></a>!</p>
<br>
    </div>
  </div>
</section>

<section class="usa-graphic-list margin-bottom-4">
  <div class="grid-container">
    <div class="usa-graphic-list__row grid-row grid-gap">

      {% include policy-resource-button.html %}
      {% include resources-policies.html %}

    </div>
  </div>
</section>
