{% comment %}
This banner will be displayed on the homepage. It can be used to advertise upcoming events or notable policy releases. It will not be displayed all the time
{% endcomment %}

<section class="usa-graphic-list padding-y-3 abstract-background">
  <div class="grid-container">
    <div class="grid-row grid-gap">
      <div class="tablet:grid">

        <span class="text-accent-cool font-sans-lg margin-bottom-0 text-bold">Check out the CIO Handbook: </span><br>
        <p class="text-white font-sans-md text-normal">The CIO Council released the CIO Handbook to aide CIOs, Deputy CIOs, agency heads and other senior leaders during transition. It aims to give CIOs important information needed to be a technology leader.</p>
        <a class="usa-button usa-button-big usa-button--accent-cool" href="https://www.cio.gov/cio-handbook/">Read the Handbook</a>
      </div>
    </div>
  </div>
</section>
