{% comment %}
This banner will be displayed on the homepage. It can be used to advertise upcoming events or notable policy releases. It will not be displayed all the time
{% endcomment %}

<section class="usa-graphic-list usa-section bg-primary-darker sml-margin">
  <div class="grid-container">
    <div class="grid-row grid-gap">
      <div class="tablet:grid">
        <h1 class="section-intro">What's New?</h1>
        <h2 class="font-heading-xl margin-top-0 tablet:margin-bottom-0">We have a new look!</h2>
        <p>The CIO Council wanted to make your experience better, so CIO.gov has a new look and feel. Take a look around. Let us know what you think via feedback@cio.gov!</p>
        <a class="usa-button usa-button-big usa-button--accent-cool" href="javascript:void(0)">Learn More</a>
      </div>
    </div>
  </div>
</section>
