{% comment %}
This banner will be displayed on the homepage. It can be used to advertise upcoming events or notable policy releases. It will not be displayed all the time
{% endcomment %}

<section class="usa-graphic-list usa-section background-dark sml-margin">
  <div class="grid-container">
    <div class="grid-row grid-gap">
      <div class="tablet:grid">
        <h1 class="section-intro">What's New?</h1>
        <h2 class="font-heading-xl margin-top-0 tablet:margin-bottom-0">Topic Title</h2>
        <p>This is a description at a very high level. This is a description at a very high level. This is a description at a very high level. This is a description at a very high level. This is a description at a very high level. This is a description at a very high level.</p>
        <a class="usa-button usa-button-big usa-button-secondary" href="javascript:void(0)">Learn More</a>
      </div>
    </div>
  </div>
</section>
