{% comment %}
Use this section to highlight key elements of your page. This is currently used only on the PMA page to highlight tech cap goals.
{% endcomment %}

<section class="padding-top-105 usa-graphic-list usa-section--white">
  <div class="grid-container">
    <div class="usa-graphic-list__row grid-row grid-gap">
      <div class="usa-media-block tablet:grid-col">
        <a href="{{ page.capgoal-1-link }}"><img class="usa-media-block__img"  src="{{ site.baseurl }}/assets/uswds/img/circle-124-data-smaller.png" alt="Alt text"></a>
        <div class="usa-media-block__body">
          <h3 class="usa-graphic-list__heading">{{ page.capgoal-1-title }}</h3>
          <p><font color="black">{{ page.capgoal-1-description }}</font></p>
        </div>
      </div>
      <div class="usa-media-block tablet:grid-col">
        <a href="{{ page.capgoal-2-link }}"><img class="usa-media-block__img"  src="{{ site.baseurl }}/assets/uswds/img/circle-124-quality-smaller.png" alt="Alt text"></a>
        <div class="usa-media-block__body">
          <h3 class="usa-graphic-list__heading">{{ page.capgoal-2-title }}</h3>
          <p><font color="black">{{ page.capgoal-2-description }}</font></p>
        </div>
      </div>
    </div>
    <div class="usa-graphic-list__row grid-row grid-gap">
      <div class="usa-media-block tablet:grid-col">
        <a href="{{ page.capgoal-3-link }}"><img class="usa-media-block__img"  src="{{ site.baseurl }}/assets/uswds/img/circle-124-modernize-it-smaller.png" alt="Alt text"></a>
        <div class="usa-media-block__body">
          <h3 class="usa-graphic-list__heading">{{ page.capgoal-3-title }}</h3>
          <p><font color="black">{{ page.capgoal-3-description }}</font></p>
        </div>
      </div>
      <div class="usa-media-block tablet:grid-col">
        <a href="{{ page.capgoal-4-link }}"><img class="usa-media-block__img"  src="{{ site.baseurl }}/assets/uswds/img/circle-124-spending-smaller.png" alt="Alt text"></a>
        <div class="usa-media-block__body">
          <h3 class="usa-graphic-list__heading">{{ page.capgoal-4-title }}</h3>
          <p><font color="black">{{ page.capgoal-4-description }}</font></p>
        </div>
      </div>
    </div>
  </div>
</section>
