{% comment %}
Use this section to highlight key elements of your page. This is currently used only on the PMA page to highlight tech cap goals.
{% endcomment %}

<section class="padding-top-105 usa-graphic-list usa-section--white">
  <div class="grid-container">
    <div class="usa-graphic-list__row grid-row grid-gap">
      <div class="usa-media-block tablet:grid-col">
        <a href="{{ page.capgoal-1-link }}"><img class="usa-media-block__img cap-icon"  src="{{ site.baseurl }}/assets/uswds/img/circle-124-modernize-it-smaller.png" alt="Modernize IT to Increase Productivity and Security"></a>
        <div class="usa-media-block__body">
          <h3><a href="{{ page.capgoal-1-link }}"><font color="005ea2">{{ page.capgoal-1-title }}</font></a></h3>
          <p class="font-sans-sm text-ink">{{ page.capgoal-1-description }}</p>
        </div>
      </div>
      <div class="usa-media-block tablet:grid-col">
        <a href="{{ page.capgoal-2-link }}"><img class="usa-media-block__img cap-icon"  src="{{ site.baseurl }}/assets/uswds/img/circle-124-data-smaller.png" alt="Leveraging Data as a Strategic Asset"></a>
        <div class="usa-media-block__body">
          <h3><a href="{{ page.capgoal-2-link }}"><font color="005ea2">{{ page.capgoal-2-title }}</font></a></h3>
          <p class="font-sans-sm text-ink">{{ page.capgoal-2-description }}</p>
        </div>
      </div>
    </div>
    <div class="usa-graphic-list__row grid-row grid-gap">
      <div class="usa-media-block tablet:grid-col">
        <a href="{{ page.capgoal-3-link }}"><img class="usa-media-block__img cap-icon"  src="{{ site.baseurl }}/assets/uswds/img/circle-124-quality-smaller.png" alt="Sharing Quality Services"></a>
        <div class="usa-media-block__body">
          <h3><a href="{{ page.capgoal-3-link }}"><font color="005ea2">{{ page.capgoal-3-title }}</font></a></h3>
        <p class="font-sans-sm text-ink">{{ page.capgoal-3-description }}</p>
        </div>
      </div>
      <div class="usa-media-block tablet:grid-col">
        <a href="{{ page.capgoal-4-link }}"><img class="usa-media-block__img cap-icon"  src="{{ site.baseurl }}/assets/uswds/img/circle-124-spending-smaller.png" alt="Improving Outcomes Through Federal IT Spending Transparency"></a>
        <div class="usa-media-block__body">
          <h3><a href="{{ page.capgoal-4-link }}"><font color="005ea2">{{ page.capgoal-4-title }}</font></a></h3>
          <p class="font-sans-sm text-ink">{{ page.capgoal-4-description }}</p>
        </div>
      </div>
    </div>
  </div>
</section>
