{% comment %}
Use this section to highlight key elements of your page. This is currently used only on the PMA page to highlight tech cap goals.
{% endcomment %}


<section class="usa-graphic-list usa-section usa-section--dark">
  <div class="grid-container">
    <div class="usa-graphic-list__row grid-row grid-gap">
      <div class="usa-media-block tablet:grid-col">
        <a href="{{ page.capgoal-1-link }}"><img class="usa-media-block__img"  src="{{ page.capgoal-1-icon }}" alt="{{ page.capgoal-1-icon-alt }}"></a>
        <div class="usa-media-block__body">
          <h3 class="usa-graphic-list__heading">{{ page.capgoal-1-title }}</h3>
          <p>{{ page.capgoal-1-description }}</p>
        </div>
      </div>
      <div class="usa-media-block tablet:grid-col">
        <a href="{{ page.capgoal-2-link }}"><img class="usa-media-block__img"  src="{{ page.capgoal-2-icon }}" alt="{{ page.capgoal-2-icon-alt }}"></a>
        <div class="usa-media-block__body">
          <h3 class="usa-graphic-list__heading">{{ page.capgoal-2-title }}</h3>
          <p>{{ page.capgoal-2-description }}</p>
        </div>
      </div>
    </div>
    <div class="usa-graphic-list__row grid-row grid-gap">
      <div class="usa-media-block tablet:grid-col">
        <a href="{{ page.capgoal-3-link }}"><img class="usa-media-block__img"  src="{{ page.capgoal-3-icon }}" alt="{{ page.capgoal-3-icon-alt }}"></a>
        <div class="usa-media-block__body">
          <h3 class="usa-graphic-list__heading">{{ page.capgoal-3-title }}</h3>
          <p>{{ page.capgoal-3-description }}</p>
        </div>
      </div>
      <div class="usa-media-block tablet:grid-col">
        <a href="{{ page.capgoal-4-link }}"><img class="usa-media-block__img"  src="{{ page.capgoal-4-icon }}" alt="{{ page.capgoal-4-icon-alt }}"></a>
        <div class="usa-media-block__body">
          <h3 class="usa-graphic-list__heading">{{ page.capgoal-4-title }}</h3>
          <p>{{ page.capgoal-4-description }}</p>
        </div>
      </div>
    </div>
  </div>
</section>
