{% comment %}
This section highlights the real time events on CIO.gov, including Twitter feed, upcoming events, and most recent news.
{% endcomment %}


<section class="grid-container usa-section usa-prose">
  <a class="hidden" href="#content-news">Skip Twitter feed</a>

<div class="grid-row grid-gap" style="padding:0">
    <div class="tablet:grid-col  ">
      <div class="card-link ">
      {% include twitter.html %}
      </div>
    </div>
    <div class="tablet:grid-col white-feature-box" >
      <div class="card-link padding"  >
      {% include events.html %}
      </div>
    </div>
    {% for project in site.posts limit:1 %}
    <div class="tablet:grid-col" >
      <div class="card-link" tabIndex="-1" onclick="location.href='{{site.baseurl}}{{ project.permalink}}';">
      {% include home-news.html
        image_src=project.image
        image_alt=project.img-alt
        image_icon=project.image_icon
        agency=project.agency
        tagline=project.title
        date=project.date
        description=project.excerpt
        link=project.permalink
        tags=project.tags
        %}
      </div>
    </div>
    {% endfor %}
  </div>
</section>
