{% comment %}
Use this section to promote the priorities of the CIO Council
{% endcomment %}


<section class="usa-graphic-list usa-section bg-base-lightest">
  <div class="grid-container">
    <div class="usa-graphic-list__row grid-row grid-gap">
      <div class="usa-media-block tablet:grid-col">
        <img class="homepage-icon" src="{{ site.baseurl }}/assets/images/icons/Cybersecurity-icon.png" alt="Cybersecurity icon">
        <div class="usa-media-block__body">
          <h3 class="usa-graphic-list__heading text-gray-70">Cybersecurity & Fedramp</h3>
          <p class="text-gray-70">Can add text here.</p>
        </div>
      </div>
      <div class="usa-media-block tablet:grid-col">
        <img class="homepage-icon" src="{{ site.baseurl }}/assets/images/icons/TBM-icon.png" alt="TBM icon">
        <div class="usa-media-block__body">
          <h3 class="usa-graphic-list__heading text-gray-70">Technology Business Management (TBM)</h3>
          <p class="text-gray-70">Can add text here.</p>
        </div>
      </div>
      <div class="usa-media-block tablet:grid-col">
        <img class="homepage-icon" src="{{ site.baseurl }}/assets/images/icons/FITARA-icon.png" alt="FITARA icon">
        <div class="usa-media-block__body">
          <h3 class="usa-graphic-list__heading text-gray-70">Federal IT Acquisition Reform Act (FITARA)</h3>
          <p class="text-gray-70">Can add text here.</p>
        </div>
      </div>
      <div class="usa-media-block tablet:grid-col">
        <img class="homepage-icon" src="{{ site.baseurl }}/assets/images/icons/Cloud-icon.png" alt="Cloud icon">
        <div class="usa-media-block__body">
          <h3 class="usa-graphic-list__heading text-gray-70">Cloud</h3>
          <p class="text-gray-70">Can add text here.</p>
        </div>
      </div>
      <div class="usa-media-block tablet:grid-col">
        <img class="homepage-icon" src="{{ site.baseurl }}/assets/images/icons/FEAF-icon" alt="FEAF icon">
        <div class="usa-media-block__body text-gray-70">
          <h3 class="usa-graphic-list__heading">Federal Enterprise Architecture Framework (FEAF)</h3>
          <p class="text-gray-70">Can add text here.</p>
        </div>
      </div>
    </div>
  </div>
</section>
