{% comment %}
This builds the timeline for the CIO Code Challenge event. This timeline code can be repurposed as a template for other timelines on the site.
{% endcomment %}

<section class="usa-section">
  <div class="usa-grid usa-graphic_list-row">

    <h2 style="margin-top:0px;" class="rs-heading"><span class="rs-2">&gt; </span>Code Challenge Timeline</h2>

    <div class="page">
      <div class="page__demo">
        <div class="main-container page__container">
          <div class="timeline">
            <div class="timeline__box">
              <div class="timeline__date">
                <span class="timeline__day"><font color="gray">6</font></span>
                <span class="timeline__month"><font color="gray">May</font></span>
              </div>
              <div class="timeline__post">
                <div class="timeline__content">
                  <h4 class="rs-heading"><font color="gray">Challenge 1 Begins</font></h4>
                  <font color="gray">Front End challenge kicks off. The Front End challenge tests HTML, CSS, JavaScript, and core UX/UI concepts.</font>
                </div>
              </div>
            </div>
            <div class="timeline__box">
              <div class="timeline__date">
                <span class="timeline__day"><font color="gray">9</font></span>
                <span class="timeline__month"><font color="gray">June</font></span>
              </div>
              <div class="timeline__post">
                <div class="timeline__content">
                  <h4 class="rs-heading"><font color="gray">Challenge 1 Ends</font></h4>
                  <font color="gray">Front End challenge closes.</font>
                </div>
              </div>
            </div>
            <div class="timeline__box">
              <div class="timeline__date">
                <span class="timeline__day"><font color="gray">10</font></span>
                <span class="timeline__month"><font color="gray">June</font></span>
              </div>
              <div class="timeline__post">
                <div class="timeline__content">
                  <h4 class="rs-heading"><font color="gray">Challenge 2 Begins</font></h4>
                  <font color="gray">Core CS challenge kicks off. The Core CS challenge tests problem-solving skills, coding knowledge, and fundamentals using a coding language of the participant's choice.</font>
                </div>
              </div>
            </div>
              <div class="timeline__box">
                <div class="timeline__date">
                  <span class="timeline__day"><font color="gray">7</font></span>
                  <span class="timeline__month"><font color="gray">July</font></span>
                </div>
                <div class="timeline__post">
                  <div class="timeline__content">
                    <h4 class="rs-heading"><font color="gray">Challenge 2 Ends</font></h4>
                    <font color="gray">Core CS challenge closes.</font>
              </div>
                  </div>
                </div>
                <div class="timeline__box">
                  <div class="timeline__date">
                    <span class="timeline__day">8</span>
                    <span class="timeline__month">Jul</span>
                  </div>
                  <div class="timeline__post">
                    <div class="timeline__content">
                      <h4 class="rs-heading">Challenge 3 Begins</h4>
                      Dev/Ops challenge kicks off. The Dev/Ops challenge tests technical experience (e.g., software development or network engineering) and software development operational best practices. <a href="https://hr.gs/cio-gov-devops-code-challenge">Sign up!</a>
                    </div>
                  </div>
                </div>
                <div class="timeline__box">
                  <div class="timeline__date">
                    <span class="timeline__day">7</span>
                    <span class="timeline__month">Aug</span>
                  </div>
                  <div class="timeline__post">
                    <div class="timeline__content">
                      <h4 class="rs-heading">Challenge 3 Ends</h4>
                      Dev/Ops challenge closes.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
