<!-- *****LOOP FOR MEMBERS PAGE *********-->
<div>
      {% for bio in site.cop-members %}
    <div class="container card__cloud padding-bottom-3">
        <div class="left">
           <img src="{{ site.baseurl }}/assets/images/members{{ bio.bio-image }}" alt="{{bio.name}}">
        </div>
        <div class="right padding-1">
            <span class="role text-bold text-uppercase desktop:padding-bottom-1">{{ bio.role }}</span>
            <div class="name"><span class="card__cop-name text-uppercase text-normal">{{ bio.name }}</span></div>
            <span class="title text-italic">{{ bio.position }}</span>
            <span class="title agency text-italic">{{ bio.agency }}</span>
        </div>
    </div>
      {% endfor %}
</div>