<footer class="usa-footer site-footer" role="contentinfo">
  <div class="footer-section-bottom bg-primary-darker">
    <div class="grid-container">
      <div class="grid-row padding-3">
        <div class="tablet:grid-col" >
          <div class="logo-links">
            <a class="footer-logo media_link" href="https://www.cio.gov/">
              <img src="{{ site.baseurl }}/assets/images/CIO-Council-Logo.png" width="90" alt="Council Logo" />
            </a>
          </div>
        </div>
        <div class="tablet:grid-col"></div>
        <div class="tablet:grid-col">
          <ul class="add-list-reset">
            <li><a href="https://cfo.gov/"><font color="white">Federal CFO Council</font></li>
            <li><a href="https://chcoc.gov/"><font color="white">Federal CHCO Council</font></li>
            <li><a href="https://www.acquisition.gov/cao-home"><font color="white">Federal CAO Council</font></li>
          </ul>
        </div>
        <div class="tablet:grid-col">
          <ul class="add-list-reset">
            <li><a href="https://www.fpc.gov/"><font color="white">Federal Privacy Council</font></li>
            <li><a href="https://www.pic.gov/"><font color="white">Perf. Improvement Council</font></li>
            <li><a href="https://www.performance.gov/"><font color="white">Performance.gov</font></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="usa-footer-contact-links usa-width-one-half">
        {% if site.footer.contact.facebook %}
        <a class="usa-link-facebook" href="https://facebook.com/{{ facebook }}"><font color="white">Facebook</font></a>
        {% endif %}
        {% if site.footer.contact.youtube %}
        <a class="usa-link-youtube" href="https://youtube.com/{{ youtube }}"><font color="white">YouTube</font></a>
        {% endif %}
        <a class="usa-link-rss" href="{{ site.baseurl }}/feed.xml"><font color="white">RSS feed</font></a>
        <p>
      <a href="{{ site.baseurl}}/privacy-statement/"style="color: #FFFFFF;">Privacy Statement </a> | <a href="{{site.baseurl}}/accessibility-policy/"  style="color: #FFFFFF;">Accessibility Policy</a></p>
    </div>
  </div>
</footer>

<!-- Digital Analytics Program roll-up, see https://analytics.usa.gov for data -->
<script id="_fed_an_ua_tag" src="https://dap.digitalgov.gov/Universal-Federated-Analytics-Min.js?agency={{site.dap_agency}}"></script>

<!-- Google Analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', '{{site.google_analytics_ua}}', '{{site.url}}');

  // anonymize user IPs (chops off the last IP triplet)
  ga('set', 'anonymizeIp', true);

  // forces SSL even if the page were somehow loaded over http://
  ga('set', 'forceSSL', true);

  ga('send', 'pageview');
</script>

<script src="{{site.baseurl}}/assets/uswds/js/uswds.min.js"></script>

{% include searchgov/script.html affiliate=site.searchgov_affiliate %}

</body>
</html>
