<footer class="usa-footer site-footer" role="contentinfo">
  <div class="footer-section-bottom bg-primary-darker">
    <div class="grid-container">
    <div class="usa-graphic-list__row grid-row grid-gap padding-3">

        <div class="tablet:grid-col">
          <div class="logo-links">
            <a class="footer-logo media_link" href="https://www.cio.gov/">
              <img src="{{ site.baseurl }}/assets/images/logos/cio-logo-white.png" width="90" alt="Council Logo" />
            </a>
          </div>
        </div>

        <div class="tablet:grid-col-3">
          <ul class="add-list-reset">
            <li><a href="https://www.fpc.gov/">Federal Privacy Council</a></li>
            <li><a href="https://www.pic.gov/">Perf. Improvement Council</a></li>
            <li><a href="https://www.performance.gov/">Performance.gov</a></li>
            <li><a href="https://www.evaluation.gov/">Evaluation Officer Council</a></li>
          </ul>
        </div>

        <div class="tablet:grid-col">
          <ul class="add-list-reset">
            <li><a href="https://cfo.gov/">Federal CFO Council</a></li>
            <li><a href="https://chcoc.gov/">Federal CHCO Council</a></li>
            <li><a href="https://www.acquisition.gov/cao-home">Federal CAO Council</a></li>
          </ul>
        </div>

        <div class="tablet:grid-col privacy">
          <ul class="add-list-reset">
            <li><a class="usa-link-rss" href="{{ site.baseurl }}/feed.xml">RSS feed</a></li>
            <li><a href="{{ site.baseurl}}/privacy-statement/">Privacy Statement </a></li>
            <li><a href="{{site.baseurl}}/accessibility-policy/">Accessibility Policy</a></li>
            <li><a href="mailto:feedback@cio.gov" title="Contact CIO support">Contact Us</a></li>

          </ul>
        </div>


        <div class="tablet:grid-col-1 padding-0">
            <a  title="red square with white envelope icon for contact us" href="mailto:feedback@cio.gov" class="margin-top-0 fa fa-envelope"></a>
            <a  title="blue square with white twitter icon" href="https://twitter.com/ciodotgov?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" class="fa fa-twitter"></a>
            <a  title="blue square with white linkedin icon" href="https://www.linkedin.com/company/federal-cio-council" class="fa fa-linkedin"></a>
        </div>

      </div>
    </div>
  </div>
</footer>

<div class="usa-identifier">
  <section class="usa-identifier__section usa-identifier__section--masthead" aria-label="Agency identifier">
    <div class="usa-identifier__container">
      <div class="usa-identifier__logos">
        <a href="https://gsa.gov" class="usa-identifier__logo">
          <img class="usa-identifier__logo-img" src="{{site.baseurl}}/assets/images/logos/gsa-logo.jpg" alt="&lt;Parent agency&gt; logo" role="img"/>
        </a>
      </div>
      <div class="usa-identifier__identity" aria-label="Agency description">
        <p class="usa-identifier__identity-domain">cio.gov</p>
        <p class="usa-identifier__identity-disclaimer">
          An official website of the
          <a href="https://www.gsa.gov/">General Services Administration</a>
        </p>
      </div>
    </div>
  </section>
  <nav
    class="usa-identifier__section usa-identifier__section--required-links"
    aria-label="Important links,,"
  >
    <div class="usa-identifier__container">
      <ul class="usa-identifier__required-links-list">
        <li class="usa-identifier__required-links-item">
          <a href="https://www.gsa.gov/about-us" class="usa-identifier__required-link usa-link">About GSA</a>
        </li>
        <li class="usa-identifier__required-links-item">
          <a href="https://www.gsa.gov/website-information/accessibility-aids" class="usa-identifier__required-link usa-link">Accessibility support</a>
        </li>
        <li class="usa-identifier__required-links-item">
          <a href="https://www.gsa.gov/reference/freedom-of-information-act-foia" class="usa-identifier__required-link usa-link">FOIA requests</a>
        </li>
        <li class="usa-identifier__required-links-item">
          <a href="https://www.gsa.gov/reference/civil-rights-programs/notification-and-federal-employee-antidiscrimination-and-retaliation-act-of-2002" class="usa-identifier__required-link usa-link">No FEAR Act data</a>
        </li>
        <li class="usa-identifier__required-links-item">
          <a href="https://www.gsaig.gov/" class="usa-identifier__required-link usa-link">Office of the Inspector General</a>
        </li>
        <li class="usa-identifier__required-links-item">
          <a href="https://www.gsa.gov/reference/reports/budget-performance" class="usa-identifier__required-link usa-link">Performance reports</a>
        </li>
        <li class="usa-identifier__required-links-item">
          <a href="https://www.gsa.gov/website-information/website-policies" class="usa-identifier__required-link usa-link">Privacy policy</a>
        </li>
      </ul>
    </div>
  </nav>
  <section
    class="usa-identifier__section usa-identifier__section--usagov"
    aria-label="U.S. government information and services,,"
  >
    <div class="usa-identifier__container">
      <div class="usa-identifier__usagov-description">
        Looking for U.S. government information and services?
      </div>
      <a href="https://www.usa.gov/" class="usa-link">Visit USA.gov</a>
    </div>
  </section>
</div>

<!-- Digital Analytics Program roll-up, see https://analytics.usa.gov for data -->
<script id="_fed_an_ua_tag" src="https://dap.digitalgov.gov/Universal-Federated-Analytics-Min.js?agency={{site.dap_agency}}"></script>

<!-- Google Analytics -->
<script>
  (function(i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function() {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date();
    a = s.createElement(o),
      m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
  })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
  ga('create', '{{site.google_analytics_ua}}', '{{site.url}}');

  // anonymize user IPs (chops off the last IP triplet)
  ga('set', 'anonymizeIp', true);

  // forces SSL even if the page were somehow loaded over https://
  ga('set', 'forceSSL', true);

  ga('send', 'pageview');
</script>

{% include searchgov/script.html affiliate=site.searchgov_affiliate %}

<script src="{{site.baseurl}}/assets/uswds/js/uswds.min.js"></script>
<script src="{{site.baseurl}}/assets/js/jquery.min.js"></script>

<script src="{{site.baseurl}}/assets/js/isotope.pkgd.min.js"></script>
<script src="{{site.baseurl}}/assets/js/isotope.settings.js"></script>
<script src="{{site.baseurl}}/assets/js/app.js"></script>
</body>

</html>
