{% comment %}
This will be displayed on the homepage. Ideally, you want to highlight key goals of the website
{% endcomment %}

<section class="usa-hero">
  <div class="grid-container">
    <div class="usa-hero__callout bg-primary-darker">
      <h2 class="usa-hero__heading"><span class="usa-hero__heading--alt">CIO Code Challenge #2: </span>Starts Now!
  <br></br>
  <!-- THIS IS FOR A SUB TITLE <p>Use a coding language of your choice.</p> !-->
      <a class="usa-button" href="javascript:void(0)">Learn More</a>
    </div>
  </div>
</section>
