{% assign card_link = include.link | prepend: site.baseurl %}


      <img
       alt="{{ include.image_alt }}"
       class="card-image-bg"
       src="{{ site.baseurl }}/assets/images/blog/{{ include.image_src }}"
       style="width:100%;object-fit:cover;"
    >
    <div class="card-banner-homepage">
      <p class="card-tag" style="color:#323a45;">{{ include.date | date: '%B %d, %Y' }} </p>
      <a href="{{ card_link }}" tabindex="-1" class="card-link-tagline"><h3 class="h4" style="margin-top:0;">{{ include.tagline }}</h3></a>
      <p class="card-description">{{ include.description }}</p>
    </div>
    <div class="card-cta link-arrow-right">
      <p>Read more</p>
    </div>
