

<section class="usa-graphic-list usa-section" style="padding-top:0">
  <div class="grid-container">
    <div class="usa-graphic-list__row grid-row grid-gap" style="padding:0;">

      {% for bio in site.leadership %}
          <div class="tablet:grid-col-6" style="padding:10px;">
            <div class="left">
              <img src="{{ site.baseurl }}/assets/images/members{{ bio.bio-image }}">
            </div>
            <div class="right">
            <p>{{ bio.name }}<br>
            {{ bio.title }}, {{ bio.agency }}</p>
            </div>
          </div>
      {% endfor %}

    </div>
  </div>
</section>
