<table class="usa-table">
  <thead>
    <tr>
      <th scope="col">Day</th>
      <th scope="col">Time</th>
      <th scope="col">Meeting Type</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">September 11th</th>
      <td>3:00-4:30 pm</td>
      <td>Executive Committee</td>
    </tr>
    <tr>
      <th scope="row">September 25th</th>
      <td>3:30-5:00 pm</td>
      <td>Full Council</td>
    </tr>
    <tr>
      <th scope="row">October 9th</th>
      <td>3:00-4:30 pm</td>
      <td>Executive Committee</td>
    </tr>
    <tr>
      <th scope="row">October 23rd</th>
      <td>3:30-5:00 pm</td>
      <td>Full Council</td>
    </tr>
    <tr>
      <th scope="row">November 6th</th>
      <td>3:00-4:30 pm</td>
      <td>Executive Committee</td>
    </tr>
    <tr>
      <th scope="row">November 20th</th>
      <td>3:30-5:00 pm</td>
      <td>Full Council</td>
    </tr>
    <tr>
      <th scope="row">December 4th</th>
      <td>3:00-4:30 pm</td>
      <td>Executive Committee</td>
    </tr>
    <tr>
      <th scope="row">December 18th</th>
      <td>3:30-5:00 pm</td>
      <td>Full Council</td>
   </tr>
  </tbody>
</table>
