{% comment %}
You shouldn't have to edit this page very often. But if you want to modify some of the meta-data for the
site, this is the place to do it.
{% endcomment %}
<!DOCTYPE html>
<!--[if lt IE 9]>
<html class="lt-ie9">
<![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en">
<!--<![endif]-->
<head>
<!-- Basic Page Needs
    ================================================== -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="robots" content="index,follow">
  <meta name="google-site-verification" content="WZf88YHAlO9rMrrv3H_8ey1FgiW8xJNvDkeIStp3tb0" />
  <!-- Mobile Specific Metas
    ================================================== -->
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Title and meta description
    ================================================== -->
  <title>{{ page.title }} | {{site.title}}</title>
  <meta property="og:title" content="{{page.title}}">
  <meta name="description" content="{{page.description}}">
  <meta property="og:description" content="{{site.description}}">

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@{{site.twitter}}" />
  <meta name="twitter:title" content="{{site.title}}" />
  <meta name="twitter:description" content="{{site.description}}" />
  <meta name="twitter:image" content="https://www.cio.gov/assets/images/background/blue-banner-abstract.png?'.uniqid().'">

  <meta property="og:type" content="article">
  <link rel="canonical" href="{{site.baseurl}}/">
  <meta property="og:url" content="{{site.baseurl}}/">
  <!-- Favicons
    ================================================== -->
  <!-- 128x128 -->
  <link rel="shortcut icon" type="image/ico" href="{{site.baseurl}}/assets/uswds/img/favicons/favicon-logo.png">
  <link rel="icon" type="image/png" href="{{site.baseurl}}/assets/uswds/img/favicons/favicon-logo.png">
  <!-- 192x192, as recommended for Android
    http://updates.html5rocks.com/2014/11/Support-for-theme-color-in-Chrome-39-for-Android
    -->
  <link rel="icon" type="image/png" sizes="192x192" href="{{site.baseurl}}/assets/uswds/img/favicons/favicon-logo.png">
  <!-- 57x57 (precomposed) for iPhone 3GS, pre-2011 iPod Touch and older Android devices -->
  <link rel="apple-touch-icon-precomposed" href="{{site.baseurl}}/assets/uswds/img/favicons/favicon-logo.png">
  <!-- 72x72 (precomposed) for 1st generation iPad, iPad 2 and iPad mini -->
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{site.baseurl}}/assets/uswds/img/favicons/favicon-logo.png">
  <!-- 114x114 (precomposed) for iPhone 4, 4S, 5 and post-2011 iPod Touch -->
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{site.baseurl}}/assets/uswds/img/favicons/favicon-logo.png">
  <!-- 144x144 (precomposed) for iPad 3rd and 4th generation -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{site.baseurl}}/assets/uswds/img/favicons/favicon-logo.png">
  <!-- CSS
    ================================================== -->
  <!-- env: demo -->
  <link rel="stylesheet" href="{{site.baseurl}}/assets/css/styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



  <meta name=keywords content="App,Application,Hub,Dashboard,Code,Coverage,Automated,Unit Test">
  <meta http-equiv=X-UA-Compatible content="IE=edge">
  <meta name=viewport content="width=device-width,initial-scale=1">
  <!--[if IE]>
  <link rel="icon" href="{{ site.baseurl}}/aia-eia-js/favicon.ico"><![endif]-->
  <link rel=stylesheet type=text/css href="{{ site.baseurl}}/aia-eia-js/survey.css">
  <script src="{{ site.baseurl }}/aia-eia-js/helper/startswith.js"></script>
  <script src="{{ site.baseurl }}/aia-eia-js/helper/browser.js"></script>
  <script src="{{ site.baseurl }}/aia-eia-js/helper/pdfmake.min.js"></script>
  <script src="{{ site.baseurl }}/aia-eia-js/helper/vfs_fonts.js"></script>
  <script src=https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_30/cdts/compiled/soyutils.js></script>
  <script src=https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_30/cdts/compiled/wet-en.js></script>

  <script src="{{ site.baseurl }}/aia-eia-js/helper/wet.js"></script>
  <link href="{{ site.baseurl }}/aia-eia-js/css/app.ecb6e467.css" rel=preload as=style>
  <link href="{{ site.baseurl }}/aia-eia-js/css/chunk-vendors.3cb806b4.css" rel=preload as=style>
  <link href="{{ site.baseurl }}/aia-eia-js/js/app.6c17925c.js" rel=preload as=script>
  <link href="{{ site.baseurl }}/aia-eia-js/js/chunk-vendors.c57b879d.js" rel=preload as=script>
  <link href="{{ site.baseurl }}/aia-eia-js/css/chunk-vendors.3cb806b4.css" rel=stylesheet>
  <link href="{{ site.baseurl }}/aia-eia-js/css/app.ecb6e467.css" rel=stylesheet>
  <link rel=icon type=image/png sizes=32x32 href="{{ site.baseurl }}/aia-eia-js/img/icons/favicon-32x32.png">
  <link rel=icon type=image/png sizes=16x16 href="{{ site.baseurl }}/aia-eia-js/img/icons/favicon-16x16.png">
  <link rel=manifest href="{{ site.baseurl }}/aia-eia-js/manifest.json">
  <meta name=theme-color content=#4DBA87>
  <meta name=apple-mobile-web-app-capable content=no>
  <meta name=apple-mobile-web-app-status-bar-style content=default>
  <meta name=apple-mobile-web-app-title content=aia-eia-js>
  <link rel=apple-touch-icon href="{{ site.baseurl }}/aia-eia-js/img/icons/apple-touch-icon-152x152.png">
  <link rel=mask-icon href="{{ site.baseurl }}/aia-eia-js/img/icons/safari-pinned-tab.svg" color=#4DBA87>
  <meta name=msapplication-TileImage content="{{ site.baseurl }}/aia-eia-js/img/icons/msapplication-icon-144x144.png">
  <meta name=msapplication-TileColor content=#000000>

  <script src="{{ site.baseurl }}/aia-eia-js/js/chunk-vendors.c57b879d.js"></script>
  <script src="{{ site.baseurl }}/aia-eia-js/js/app.6c17925c.js"></script>

</head>
