<p class="font-sans-sm text-ink">Sign up for our C-Suite Quarterly Newsletter! Get updates on management priorities, success stories, and agency resources.</P>
   <div role="form">
       <form id="GD-snippet-form" action="https://public.govdelivery.com/accounts/USGSA/subscribers/qualify" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="authenticity_token" value="ZhCoiMxoWiSHeJTiR19j3v2+S7Z6oMVPNTy2Ytiv7ukUos3n+vi5J/Fc0MG7tmBSLdsHmRfj02xB0ztqUS0YWQ==" />
         <input type="hidden" name="topic_id" id="topic_id" value="USGSA_512" />
           <ol class='form' style="padding-left:0">
             <li class='email_fields' style='display: block; float:left; margin: 0px;'>
               <input type="text" title="enter your email here to sign for the newsletter" id="email" placeholder="Email" style="width: 200%;"/>
             </li>
           </ol>
           <br>
           <br>
           <button class="usa-button usa-button-big usa-button--accent-cool" type="submit" name="click button to sign up for the Newsletter">
             <span>Sign Up</span>
           </button>
     </form>
</div>
