{% comment %}
This banner will be displayed on the homepage. It highlights the President's Management Agenda and newsletter signup.
{% endcomment %}


<section class="usa-graphic-list usa-section bg-base-lightest">
  <div class="grid-container">
    <div class="usa-graphic-list__row grid-row grid-gap">

      <!-- <div class="usa-media-block tablet:grid-col-6">
        <h2 class=" margin-top-0 tablet:margin-bottom-0 font-serif-lg">President's Management Agenda</h2>
        <p class="font-sans-sm text-ink">The President’s Management Agenda (PMA) lays out a long-term vision for modernizing the Federal Government. It's one of the key ways our Council sets priorities. Learn how the PMA's Cross-Agency Priority (CAP) Goals relate to Federal IT.
        </p>
        <a class="usa-button usa-button-big usa-button--accent-cool" href="{{ site.baseurl }}/pma/">Learn More</a>
      </div> -->

      <div class="usa-media-block tablet:grid-col-6">
        <h2 class="margin-top-0 tablet:margin-bottom-0 font-serif-lg">Interested in Federal IT?</h2>
        {% include newsletter.html %}
      </div>

    </div>
  </div>
</section>
