{% comment %}
This banner will be displayed on the homepage. It highlights the President's Management Agenda.
{% endcomment %}


<section class="usa-graphic-list usa-section bg-base-lightest">
  <div class="grid-container">
    <div class="usa-graphic-list__row grid-row grid-gap">
      <div class="usa-media-block tablet:grid-col-6">
      <h2 class=" margin-top-0 tablet:margin-bottom-0">President's Management Agenda (PMA)</h2>
      <p>The President's Management Agenda is one way our Council sets priorities. Click here to learn how the PMA's Cross Agency Priority (CAP) Goals relate to Federal IT.</p>
      <a class="usa-button usa-button-big usa-button--accent-cool" href="{{ site.baseurl }}/pma/">Learn More</a>
    </div>
    <div class="usa-media-block tablet:grid-col-6">
      <span class="section-intro-newsletter">Interested in Federal IT?</span>
      <h2 class="font-heading-xl margin-top-0 tablet:margin-bottom-0">Join Our Newsletter</h2>
      {% include newsletter.html %}
  </div>
</section>
