<!--***********buttons for policy catalog page*********************************************-->

<div class="usa-media-block tablet:grid-col-3">
  <nav id="filter" class="filters">
    <ul class="global-controls">
            <li><a href="{{ site.baseurl }}/policies-and-priorities/#subject=*&role=*&status=*" class="sort" data-sort-value="name">Reset Filter</a></li>
            <li><a href="javascript:void(0)" class="sort" data-sort-value="date">Sort by add date</a></li>
      </ul>
      <h5 class="filter-title">Filter by Category</h5>
      <ul class="filter-list" data-filter-group="subject">
          <li><a href="javascript:void(0)" data-filter=".category-1">Category 1</a></li>
          <li><a href="javascript:void(0)" data-filter=".category-2">Category 2</a></li>
      </ul>
      <h5 class="filter-title">Filter by Role</h5>
      <ul class="filter-list" data-filter-group="role">
          <li><a href="javascript:void(0)" data-filter=".role-1">Role 1</a></li>
          <li><a href="javascript:void(0)" data-filter=".role-2">Role 2</a></li>
      </ul>
      <h5 class="filter-title">Filter by Status</h5>
      <ul class="filter-list" data-filter-group="status">
          <li><a href="javascript:void(0)" data-filter=".active">Active</a></li>
          <li><a href="javascript:void(0)" data-filter=".closed">Closed</a></li>
      </ul>
  </nav>
</div>
