<!--********Generates policy catalog items. Individual cards live in the in the _policies folder**************-->

<div class="usa-media-block tablet:grid-col-9">
  <div class="policies" tabindex="0">
    {% for policies in site.policies %}
    <div class="tablet:grid-col-3 grid-spacing policy {{ policies.filters }}">
      <div class="shadow-1 ">
        <a class="no-style" href="{{ site.baseurl }}{{ policies.permalink }}">
          <div class="text-container">
           <div class="seprate-line"></div>
            <p class="title-resources">{{ policies.subtitle }}</p>
            <p class="text-light font-sans-3xs">Implemented on {{ policies.date | date: "%b %d, %y" }}</p>
          </div>
        </a>
      </div>
    </div>

    {% endfor %}
  </div>
</div>
