<!--***********buttons for policy catalog page*********************************************-->

<div class="usa-media-block tablet:grid-col-3">

  <a class="usa-button usa-button--accent-cool margin-bottom-2" href="{{ site.baseurl }}/policies-and-priorities/#subject=*&role=*&status=*">Reset Filter</a>

  <nav id="filter" class="filters">
    <!--<ul class="global-controls">
            <li><a href="javascript:void(0)" class="sort" data-sort-value="date">Sort by add date</a></li>
      </ul>-->
      <h5 class="filter-title">Filter by Type</h5>
      <ul class="filter-list" data-filter-group="subject">
          <li><a href="javascript:void(0)" data-filter=".policy">Policy</a></li>
          <li><a href="javascript:void(0)" data-filter=".priority">Priority</a></li>
      </ul>
      <h5 class="filter-title">Filter by Category</h5>
      <ul class="filter-list" data-filter-group="role">
          <li><a href="javascript:void(0)" data-filter=".governance">Governance</a></li>
          <li><a href="javascript:void(0)" data-filter=".data">Data</a></li>
          <li><a href="javascript:void(0)" data-filter=".cloud">Cloud</a></li>
          <li><a href="javascript:void(0)" data-filter=".it-budgeting">IT Budgeting</a></li>
          <li><a href="javascript:void(0)" data-filter=".cybersecurity">Cybersecurity</a></li>
          <li><a href="javascript:void(0)" data-filter=".acquisition">Acquisition</a></li>
          <li><a href="javascript:void(0)" data-filter=".web">Web</a></li>
          <li><a href="javascript:void(0)" data-filter=".workforce">Workforce</a></li>
          <li><a href="javascript:void(0)" data-filter=".emerging">Emerging</a></li>
          <li><a href="javascript:void(0)" data-filter=".shared-services">Shared Services</a></li>
      </ul>
      <h5 class="filter-title">Filter by Status</h5>
      <ul class="filter-list" data-filter-group="status">
          <li><a href="javascript:void(0)" data-filter=".in-development">In Development</a></li>
          <li><a href="javascript:void(0)" data-filter=".active">Active/Live Policy</a></li>
          <li><a href="javascript:void(0)" data-filter=".open">Open for Public Comment</a></li>
          <li><a href="javascript:void(0)" data-filter=".revision">In Revision</a></li>

      </ul>
  </nav>
</div>
