<div class="usa-media-block tablet:grid-col-3">
  <nav id="filter" class="filters">
      <h5 class="filter-title">Filter by Type</h5>
      <ul class="filter-list" data-filter-group="subject">
          <li><a href="javascript:void(0)" data-filter=".report">Report</a></li>
          <li><a href="javascript:void(0)" data-filter=".guidance">Guidance</a></li>
          <li><a href="javascript:void(0)" data-filter=".presentation">Presentation</a></li>
          <li><a href="javascript:void(0)" data-filter=".website">Website</a></li>
      </ul>
      <h5 class="filter-title">Filter by Category</h5>
      <ul class="filter-list" data-filter-group="role">
          <li><a href="javascript:void(0)" data-filter=".cloud">Cloud</a></li>
          <li><a href="javascript:void(0)" data-filter=".data-center-consolidation">Data Center Consolidation</a></li>
          <li><a href="javascript:void(0)" data-filter=".privacy-filter">Privacy</a></li>
          <li><a href="javascript:void(0)" data-filter=".council-operations">Council Operations</a></li>
          <li><a href="javascript:void(0)" data-filter=".cybersecurity">Cybersecurity</a></li>
          <li><a href="javascript:void(0)" data-filter=".accessibility">Accessibility</a></li>
          <li><a href="javascript:void(0)" data-filter=".fitara">FITARA</a></li>
          <li><a href="javascript:void(0)" data-filter=".shared-services">Shared Services</a></li>
          <li><a href="javascript:void(0)" data-filter=".it-spending">IT Spending</a></li>
          <li><a href="javascript:void(0)" data-filter=".modernization">Modernization</a></li>

      </ul>
      <h5 class="filter-title">Filter by Status</h5>
      <ul class="filter-list" data-filter-group="status">
          <li><a href="javascript:void(0)" data-filter=".current">Current</a></li>
          <li><a href="javascript:void(0)" data-filter=".archive">Archive</a></li>
      </ul>
  </nav>
</div>
