<div class="usa-media-block tablet:grid-col-3">
  <nav id="filter" class="filters">
      <h5 class="filter-title">Filter by Category</h5>
      <ul class="filter-list" data-filter-group="subject">
          <li><a href="javascript:void(0)" data-filter=".category-1">Council Operations</a></li>
          <li><a href="javascript:void(0)" data-filter=".category-2">Data Center</a></li>
          <li><a href="javascript:void(0)" data-filter=".category-3">Cybersecurity</a></li>
      </ul>
      <h5 class="filter-title">Filter by Type</h5>
      <ul class="filter-list" data-filter-group="role">
          <li><a href="javascript:void(0)" data-filter=".role-1">Report</a></li>
          <li><a href="javascript:void(0)" data-filter=".role-2">Publication</a></li>
          <li><a href="javascript:void(0)" data-filter=".role-3">Guidance</a></li>
      </ul>
      <h5 class="filter-title">Status</h5>
      <ul class="filter-list" data-filter-group="status">
          <li><a href="javascript:void(0)" data-filter=".current">Current</a></li>
          <li><a href="javascript:void(0)" data-filter=".archive">Archived</a></li>
      </ul>
  </nav>
</div>
