<div class="grid-row grid-gap" style="padding:0">
{% for resources in site.resources %}

{% if resources.category == "publication" %}
  <div class="tablet:grid-col">
    <div class="shadow-1">
      <div class="text-container">
    <!--<p class="date">{{ resources.date | date: "%b %d, %y" }}</p> NOT SURE WE NEED DATE-->
        <div class="seprate-line"></div>
        <span class="title">{{ resources.title }}</span><br>
        <p class="description">{{ resources.description }}</p>
      </div>
      <div class="more">
         Read more ❯
       </div>
    </div>
  </div>
{% endif %}

{% endfor %}
</div>
