<div class="usa-media-block tablet:grid-col-9">
  <div class="policies" >
  {% for resources in site.resources %}

    <a href="{{ site.baseurl }}{{ resources.permalink }}" tabindex="0" style="outline:5px dotted green;">
      <div class="tablet:grid-col-3 grid-spacing policy {{ resources.filters }}" >
        <div class="shadow-1 ">
          <a class="no-style" href="{{ site.baseurl }}{{ resources.permalink }}" >
            <div class="text-container">
      <!--<p class="date">{{ resources.date | date: "%b %d, %y" }}</p> NOT SURE WE NEED DATE-->
          <div class="seprate-line"></div>
          <span class="title-resources">{{ resources.title }}</span><br>
          <!--  <p class="description">{{ policies.description }}</p>-->
        </div>
      <!--  <div class="more">
           Read more ❯
         </div>-->
      </div>
    </div>
  </a>
  {% endfor %}
    </div>
  </div>
