<div class="usa-media-block tablet:grid-col-3">
  <nav id="filter" class="filters">
      <h5 class="filter-title">Filter by Publication</h5>
      <ul class="filter-list" data-filter-group="subject">
          <li><a href="javascript:void(0)" data-filter=".category-1">Category 1</a></li>
          <li><a href="javascript:void(0)" data-filter=".category-2">Category 2</a></li>
      </ul>
      <h5 class="filter-title">Filter by Agency</h5>
      <ul class="filter-list" data-filter-group="role">
          <li><a href="javascript:void(0)" data-filter=".role-1">Role 1</a></li>
          <li><a href="javascript:void(0)" data-filter=".role-2">Role 2</a></li>
      </ul>
      <h5 class="filter-title">Filter by CXO Council Community</h5>
      <ul class="filter-list" data-filter-group="status">
          <li><a href="javascript:void(0)" data-filter=".active">Active</a></li>
          <li><a href="javascript:void(0)" data-filter=".closed">Closed</a></li>
      </ul>
  </nav>
</div>
