  <div class="padding-bottom-3 margin-top-1">

    <img class="tablet:float-left width-15 padding-right-2 padding-top-0 padding-bottom-2" style="width:150px;height:150px;object-fit:cover;" src="{{ site.baseurl }}/assets/images/logos/cio-logo-color.png" alt="Chief Information Officer Council Logo" />
    <p class="card-tag">Meets monthly</p>
    <p class="text-primary-darker font-serif-lg text-bold">
        <a class="text-no-underline" href="{{ site.baseurl }}/about/operations/">CIO Council Meeting (Full/Executive Committee)</a>
    </p>
    <p>The CIO Council hosts monthly meetings with CIOs, Chief Information Security Officers (CISOs), or their designated representatives. Key topics of discussion include CIO Council priorities. Members also discuss best practices and how to overcome hurdles related to IT policy and priorities.
      <a href="{{ site.baseurl }}/about/operations">Read more about the CIO Council Meeting</a>
    </p>

  </div>
