<!--***********buttons for policy catalog page*********************************************-->

<div class="usa-media-block tablet:grid-col-3">

    <a class="usa-button usa-button--accent-cool margin-bottom-2" href="{{ site.baseurl }}/resources/#subject=*&role=*&status=*">Reset Filter</a>

    <nav id="filter" class="filters">
        <h2 class="filter-title font-sans-sm">Filter by Type</h2>
        <ul class="filter-list" data-filter-group="subject">
            <li><a aria-label="Filter by Type: Policy" role="checkbox" href="javascript:void(0)" data-filter=".fed-policy">Policy</a></li>
            <li><a aria-label="Filter by Category: Priority" role="checkbox" href="javascript:void(0)" data-filter=".priority">Priority</a></li>
            <li><a aria-label="Filter by Type: Report" role="checkbox" href="javascript:void(0)" data-filter=".report">Report</a></li>
            <li><a aria-label="Filter by Type: Guidance" role="checkbox" href="javascript:void(0)" data-filter=".guidance">Guidance</a></li>
            <li><a aria-label="Filter by Type: Presentation" role="checkbox" href="javascript:void(0)" data-filter=".presentation">Presentation</a></li>
            <li><a aria-label="Filter by Type: Website" role="checkbox" href="javascript:void(0)" data-filter=".website">Website</a></li>
        </ul>

        <h2 class="filter-title font-sans-sm">Filter by Category</h2>
        <ul class="filter-list" data-filter-group="role">
            <li><a aria-label="Filter by Category: Governance" role="checkbox" href="javascript:void(0)" data-filter=".governance">Governance</a></li>
            <li><a aria-label="Filter by Category: Data" role="checkbox" href="javascript:void(0)" data-filter=".data">Data</a></li>
            <li><a aria-label="Filter by Category: Cloud" role="checkbox" href="javascript:void(0)" data-filter=".cloud">Cloud</a></li>
            <li><a aria-label="Filter by Category: IT Spending" role="checkbox" href="javascript:void(0)" data-filter=".it-spending">IT Spending</a></li>
            <li><a aria-label="Filter by Category: Cybersecurity" role="checkbox" href="javascript:void(0)" data-filter=".cybersecurity">Cybersecurity</a></li>
            <li><a aria-label="Filter by Category: Acquisition" role="checkbox" href="javascript:void(0)" data-filter=".acquisition">Acquisition</a></li>
            <li><a aria-label="Filter by Category: Web" role="checkbox" href="javascript:void(0)" data-filter=".web">Web</a></li>
            <li><a aria-label="Filter by Category: Workforce" role="checkbox" href="javascript:void(0)" data-filter=".workforce">Workforce</a></li>
            <li><a aria-label="Filter by Category: Shared Services" role="checkbox" href="javascript:void(0)" data-filter=".shared-services">Shared Services</a></li>
            <li><a aria-label="Filter by Category: Data Center Consolidation" role="checkbox" href="javascript:void(0)" data-filter=".data-center-consolidation">Data Center Consolidation</a></li>
            <li><a aria-label="Filter by Category: Modernization" role="checkbox" href="javascript:void(0)" data-filter=".modernization">Modernization</a></li>
            <li style="display:none"><a aria-label="Filter by Category: All Cyber" role="checkbox" href="javascript:void(0)" data-filter=".all-cyber">All Cyber</a></li>
            <!--            <li><a aria-label="Filter by Category: Cloud" role="checkbox" href="javascript:void(0)" data-filter=".cloud">Cloud</a></li>-->
            <!--            <li><a aria-label="Filter by Category: Data Center Consolidation" role="button" href="javascript:void(0)" data-filter=".data-center-consolidation">Data Center Consolidation</a></li>-->
            <li><a aria-label="Filter by Category: Privacy" role="checkbox" href="javascript:void(0)" data-filter=".privacy-filter">Privacy</a></li>
            <li><a aria-label="Filter by Category: Councile Operations" role="checkbox" href="javascript:void(0)" data-filter=".council-operations">Council Operations</a></li>
            <!--            <li><a aria-label="Filter by Category: Cybersecurity" role="checkbox" href="javascript:void(0)" data-filter=".cybersecurity">Cybersecurity</a></li>-->
            <li><a aria-label="Filter by Category: Accessibility" role="button" href="javascript:void(0)" data-filter=".accessibility">Accessibility</a></li>
            <li><a aria-label="Filter by Category: FITARA" role="checkbox" href="javascript:void(0)" data-filter=".fitara">FITARA</a></li>
            <!--            <li><a aria-label="Filter by Category: Shared Services" role="checkbox" href="javascript:void(0)" data-filter=".shared-services">Shared Services</a></li>-->
            <!--            <li><a aria-label="Filter by Category: IT Spending" role="checkbox" href="javascript:void(0)" data-filter=".it-spending">IT Spending</a></li>-->
            <li><a aria-label="Filter by Category: IT Governance" role="checkbox" href="javascript:void(0)" data-filter=".it-governance">IT Governance</a></li>

            <!--            <li><a aria-label="Filter by Category: Modernization" role="checkbox" href="javascript:void(0)" data-filter=".modernization">Modernization</a></li>-->
            <li><a aria-label="Filter by Category: Mobile" role="checkbox" href="javascript:void(0)" data-filter=".mobile">Mobile</a></li>
            <li><a aria-label="Filter by Category: Customer Experience" role="checkbox" href="javascript:void(0)" data-filter=".cx">Customer Experience</a></li>
        </ul>

        <h2 class="filter-title font-sans-sm">Filter by Status</h2>
        <ul class="filter-list" data-filter-group="status">
            <li><a aria-label="Filter by Status: In Development" role="checkbox" href="javascript:void(0)" data-filter=".in-development">In Development</a></li>
            <li><a aria-label="Filter by Status: Active/Live Policy" role="checkbox" href="javascript:void(0)" data-filter=".active">Active/Live Policy</a></li>
            <li><a aria-label="Filter by Status: Open for Public Comment" role="checkbox" href="javascript:void(0)" data-filter=".open">Open for Public Comment</a></li>
            <li><a aria-label="Filter by Status: In Revision" role="checkbox" href="javascript:void(0)" data-filter=".revision">In Revision</a></li>
            <li><a aria-label="Filter by Status: Current" role="checkbox" href="javascript:void(0)" data-filter=".current">Current</a></li>
            <li><a aria-label="Filter by Category: Archive" role="checkbox" href="javascript:void(0)" data-filter=".archive">Archive</a></li>

        </ul>
    </nav>
</div>
