<!--***********buttons for resources catalog page*********************************************-->

<div class="usa-media-block tablet:grid-col-3">

  <a class="usa-button usa-button--accent-cool margin-bottom-2" href="{{ site.baseurl }}/resources/#subject=*&role=*&status=*">Reset Filter</a>

  <nav id="filter" class="filters">
      <h2 class="filter-title font-sans-sm">Filter by Type</h2>
      <ul class="filter-list" data-filter-group="subject">
          <li><a aria-label="Filter by Type: Report" href="javascript:void(0)" data-filter=".report">Report</a></li>
          <li><a aria-label="Filter by Type: Guidance" href="javascript:void(0)" data-filter=".guidance">Guidance</a></li>
          <li><a aria-label="Filter by Type: Presentation" href="javascript:void(0)" data-filter=".presentation">Presentation</a></li>
          <li><a aria-label="Filter by Type: Website" href="javascript:void(0)" data-filter=".website">Website</a></li>
      </ul>
      <h2 class="filter-title font-sans-sm">Filter by Category</h2>
      <ul class="filter-list" data-filter-group="role">
          <li><a aria-label="Filter by Category: Cloud" role="button" href="javascript:void(0)" data-filter=".cloud">Cloud</a></li>
          <li><a aria-label="Filter by Category: Data Center Consolidation" role="button" href="javascript:void(0)" data-filter=".data-center-consolidation">Data Center Consolidation</a></li>
          <li><a aria-label="Filter by Category: Privacy" role="button" href="javascript:void(0)" data-filter=".privacy-filter">Privacy</a></li>
          <li><a aria-label="Filter by Category: Councile Operations" role="button" href="javascript:void(0)" data-filter=".council-operations">Council Operations</a></li>
          <li><a aria-label="Filter by Category: Cybersecurity" role="button" href="javascript:void(0)" data-filter=".cybersecurity">Cybersecurity</a></li>
          <li><a aria-label="Filter by Category: Accessibility" role="button" href="javascript:void(0)" data-filter=".accessibility">Accessibility</a></li>
          <li><a aria-label="Filter by Category: FITARA" role="button" href="javascript:void(0)" data-filter=".fitara">FITARA</a></li>
          <li><a aria-label="Filter by Category: Shared Services" role="button" href="javascript:void(0)" data-filter=".shared-services">Shared Services</a></li>
          <li><a aria-label="Filter by Category: IT Spending" role="button" href="javascript:void(0)" data-filter=".it-spending">IT Spending</a></li>
          <li><a aria-label="Filter by Category: Modernization" role="button" href="javascript:void(0)" data-filter=".modernization">Modernization</a></li>
      </ul>
      <h2 class="filter-title font-sans-sm">Filter by Status</h2>
      <ul class="filter-list" data-filter-group="status">
          <li><a aria-label="Filter by Status: Current" role="button" href="javascript:void(0)" data-filter=".current">Current</a></li>
          <li><a aria-label="Filter by Category: Archive" role="button" href="javascript:void(0)" data-filter=".archive">Archive</a></li>
      </ul>
  </nav>
</div>
