<div class="usa-media-block tablet:grid-col-9">
  <div class="policies" >
    {% for resources in site.resources %}
      {% if resources.internal == 'no' %}
      <a class="text-ink text-no-underline" href="https://{{ resources.permalink | }}">
      {% else %}
      <a class="text-ink text-no-underline" href="{{ site.baseurl }}{{ resources.permalink }}">
      {% endif %}
        <div class="tablet:grid-col-3 grid-spacing policy {{ resources.filters }}" >

        <!--sets border logic statements for resources-->
        {% if resources.filters contains 'report' %}
        <div class="shadow-1 report-border ">
        {% endif %}
        {% if resources.filters contains 'guidance' %}
        <div class="shadow-1 guidance-border">
        {% endif %}
        {% if resources.filters contains 'presentation' %}
        <div class="shadow-1 presentation-border ">
        {% endif %}
        {% if resources.filters contains 'website' %}
        <div class="shadow-1 website-border ">
        {% endif %}

          <div class="text-container">
          <!--<p class="date">{{ resources.date | date: "%b %d, %y" }}</p> NOT SURE WE NEED DATE-->
          {% if resources.filters contains 'report' %}
          <span class="card-tag">Report</span>
          {% endif %}
          {% if resources.filters contains 'guidance' %}
          <span class="card-tag">Guidance</span>
          {% endif %}
          {% if resources.filters contains 'presentation' %}
          <span class="card-tag">Presentation</span>
          {% endif %}
          {% if resources.filters contains 'website' %}
          <span class="card-tag">Website</span>
          {% endif %}
            {% if resources.permalink contains 'www' %}
            <a class="text-ink text-no-underline" href="https://{{ resources.permalink }}">
            {% elsif resources.permalink contains 'amazon' %}
            <a class="text-ink text-no-underline" href="https://{{ resources.permalink }}">
            {% else %}
            <a class="text-ink text-no-underline" href="{{ site.baseurl }}{{ resources.permalink }}">
            {% endif %}
            <!--for 508 accessibility-->
            <p class="title-resources">{{ resources.title }}</p>
            </a>
          <!--  <p class="description">{{ policies.description }}</p>-->
        </div>
      </div>
    </div>
  </a>
  {% endfor %}
    </div>
  </div>
