{% comment %}
The sidenav is not loaded by default on the main pages. To include this navigation you can either use the
_layouts/page.html layout template, or you can add "sidenav: true" in the front-matter of your pages
{% endcomment %}


 <!--Creating a counter for identifying unique classes - using only i counter for parent-->
{% assign i = 0 %}
<aside class="usa-layout-docs-sidenav desktop:grid-col-4 padding-top-3">
  <nav aria-label="Secondary navigation">
    <ul class="usa-sidenav">
      {% assign items = site.data.sidenavbar %}  <!--yaml data file-->
      {% for item in items %}       <!--Iterating over an array- parent -->
      {% assign i = i | plus:1 %}   <!--incrementing the counter-->
      <li><a id="href-list-{{i}}" href="" class="usa-sidenav__item">{{  item.parent }}</a>
      
      <ul id="sub-nav-list-{{i}}" class="usa-sidenav__sublist">
        {% assign j = 0 %}
        {% for subnav_item in item.children %}
             
            {% assign j = j | plus:1 %}   <!--incrementing the counter-->
             <li class="usa-sidenav__item"><a id="href-list-{{j}}" href="{{ site.baseurl }}{{  subnav_item.link }}">{{  subnav_item.text }}</a></li>
            
             {% for grandchild_item in subnav_item.grandchildren %}
                
                {% if forloop.first %}
               
                <ul id="grandchild-sub-nav-list-{{j}}" class="usa-sidenav__sublist">
                {% endif %}  
      
                    <li class="usa-sidenav__item"><a  href="{{ site.baseurl }}{{  grandchild_item.link }}">{{  grandchild_item.text }}</a></li>
                {% if forloop.last %}
                </ul>
                {% endif %}  
             {% endfor %}
            
        {% endfor %}
          </ul>
        </li>
      {% endfor %}
      <!--
      <a class="usa-current" href="{{site.baseurl}}/{{ page.permalink }}">{{ page.sidenav-title }}</a> 
      <li class="usa-sidenav__item">
        <a href="{{site.baseurl}}/{{ page.permalink }}">{{ page.sidenav-title }}</a>
      </li>-->
    </ul>
  
  </nav>
</aside>
