{% comment %}
This tagline will appear in your homepage
{% endcomment %}

<section class="usa-section tagline">
  <div class="grid-container">
  <div class="grid-row grid-gap">

    <div class="tablet:grid-col-3">
      <h1 class="tablet:margin-bottom-0 font-serif-xl margin-top-2">Welcome to CIO.gov!</h1>
    </div>
    <div class="tablet:grid-col-9">
      <p class="font-sans-md margin-top-2">The CIO Council is a forum of Federal Chief Information Officers (CIOs). Our goal is to improve IT practices across U.S. Government agencies. CIO.gov is where we share our priorities, key technology policies, news, and the programs and events sponsored by our Council.</p>
    </div>

  </div>
  </div>
</section>
