{% comment %}
This tagline will appear in your homepage
{% endcomment %}

<section class="grid-container usa-section">
  <div class="grid-row grid-gap">

    <div class="tablet:grid-col-3">
      <h1 class="tablet:margin-bottom-0">Welcome to CIO.gov!</h1>
    </div>
    <div class="tablet:grid-col-9">
      <p class="font-sans-md">The CIO Council is a forum of Federal Chief Information Officers (CIOs) whose goal is to improve IT practices across U.S. Government agencies. CIO.gov is where we share our priorities, the latest technology policies, and the events and programs sponsored by our Council.</p>
    </div>

  </div>
</section>
