{% comment %}
Use this section to promote the priorities of the CIO Council
{% endcomment %}


<section class="usa-graphic-list usa-section bg-base-lightest top-tasks">
  <div class="grid-container">
    <div class="usa-graphic-list__row grid-row grid-gap">
      <div class="usa-media-block tablet:grid-col">
        <img class="homepage-icon" src="{{ site.baseurl }}/assets/images/icons/cyber-large.png" alt="cybersecurity icon" href=javascript:void(0)>
        <div class="usa-media-block__body">
          <h3 class="usa-graphic-list__heading ">Cybersecurity & FedRAMPhref="javascript:void(0)</h3>
        </div>
      </div>
      <div class="usa-media-block tablet:grid-col">
        <img class="homepage-icon" src="{{ site.baseurl }}/assets/images/icons/tbm-large.png" alt="tbm icon" href=javascript:void(0)>
        <div class="usa-media-block__body">
          <h3 class="usa-graphic-list__heading">Technology Business Management (TBM) & CPIC</h3>
        </div>
      </div>
      <div class="usa-media-block tablet:grid-col">
        <img class="homepage-icon" src="{{ site.baseurl }}/assets/images/icons/fitara-large.png" alt="fitara icon" href=javascript:void(0)>
        <div class="usa-media-block__body">
          <h3 class="usa-graphic-list__heading">Federal IT Acquisition Reform Act (FITARA)</h3>
        </div>
      </div>
      <div class="usa-media-block tablet:grid-col">
        <img class="homepage-icon" src="{{ site.baseurl }}/assets/images/icons/cloud-large.png" alt="cloud icon" href=javascript:void(0)>
        <div class="usa-media-block__body">
          <h3 class="usa-graphic-list__heading">Cloud & Infrastructure</h3>
        </div>
      </div>
      <div class="usa-media-block tablet:grid-col">
        <img class="homepage-icon" src="{{ site.baseurl }}/assets/images/icons/feaf-large.png" alt="feaf icon" href=javascript:void(0)>
        <div class="usa-media-block__body ">
          <h3 class="usa-graphic-list__heading">Federal Enterprise Architecture Framework (FEAF)</h3>
        </div>
      </div>
    </div>
  </div>
</section>
