{% comment %}
Use this section to promote the priorities of the CIO Council
{% endcomment %}


<section class="usa-graphic-list usa-section bg-white top-tasks">
  <div class="grid-container">
    <div class="usa-graphic-list__row grid-row grid-gap">
      <div class="usa-media-block tablet:grid-col">
        <img class="homepage-icon" src="{{ site.baseurl }}/assets/images/icons/cyber.png" alt="cybersecurity icon">
        <div class="usa-media-block__body">
          <h3 class="usa-graphic-list__heading ">Cybersecurity & Fedramp</h3>
        </div>
      </div>
      <div class="usa-media-block tablet:grid-col">
        <img class="homepage-icon" src="{{ site.baseurl }}/assets/images/icons/tbm.png" alt="tbm icon">
        <div class="usa-media-block__body">
          <h3 class="usa-graphic-list__heading">Technology Business Management (TBM)</h3>
        </div>
      </div>
      <div class="usa-media-block tablet:grid-col">
        <img class="homepage-icon" src="{{ site.baseurl }}/assets/images/icons/fitara.png" alt="fitara icon">
        <div class="usa-media-block__body">
          <h3 class="usa-graphic-list__heading">Fitara</h3>
        </div>
      </div>
      <div class="usa-media-block tablet:grid-col">
        <img class="homepage-icon" src="{{ site.baseurl }}/assets/images/icons/cloud.png" alt="cloud icon">
        <div class="usa-media-block__body">
          <h3 class="usa-graphic-list__heading">Cloud</h3>
        </div>
      </div>
      <div class="usa-media-block tablet:grid-col">
        <img class="homepage-icon" src="{{ site.baseurl }}/assets/images/icons/feaf.png" alt="feaf icon">
        <div class="usa-media-block__body ">
          <h3 class="usa-graphic-list__heading">Federal Enterprise Architecture Framework (FEAF)</h3>
        </div>
      </div>
    </div>
  </div>
</section>
