{% comment %}
Use this section to promote the priorities of the CIO Council
{% endcomment %}


<section class="usa-graphic-list usa-section bg-base-lightest top-tasks">
  <div class="grid-container">
    <div class="usa-graphic-list__row grid-row grid-gap">
      <div class="usa-media-block tablet:grid-col hvr-sink">
        <a href="{{ site.baseurl }}/policies-and-priorities/cybersecurity/"><img class="homepage-icon" src="{{ site.baseurl }}/assets/images/icons/cyber-large.png" alt="Cybersecurity and FedRAMP"></a>
        <div class="usa-media-block__body">
          <h2 class="font-serif-lg">Cybersecurity</h2>
          <h3 class="font-serif-md">Protecting our federal networks and information</h3>
          </div>
      </div>
      <div class="usa-media-block tablet:grid-col hvr-sink">
        <a href="{{ site.baseurl }}/policies-and-priorities/tbm/"><img class="homepage-icon" src="{{ site.baseurl }}/assets/images/icons/tbm-large.png" alt="Technology Business Management (TBM) & CPIC)" href=javascript:void(0)></a>
        <div class="usa-media-block__body">
          <h2 class="font-serif-lg">TBM</h2>
          <h3 class="font-serif-md">Implementing Technology Business Management</h3>
        </div>
      </div>
      <div class="usa-media-block tablet:grid-col hvr-sink">
        <a href="{{ site.baseurl }}/policies-and-priorities/cloud/"><img class="homepage-icon" src="{{ site.baseurl }}/assets/images/icons/cloud-large.png" alt="Cloud & Infrastructure" href=javascript:void(0)></a>
        <div class="usa-media-block__body">
        <h2 class="font-serif-lg">Cloud</h2>
          <h3 class="font-serif-md">Driving agency adoption of cloud services</h3>
        </div>
      </div>
      <div class="usa-media-block tablet:grid-col hvr-sink">
        <a href="{{ site.baseurl }}/policies-and-priorities/workforce/"><img class="homepage-icon" src="{{ site.baseurl }}/assets/images/icons/workforce-large.png" alt="I.T. Workforce" href=javascript:void(0)></a>
        <div class="usa-media-block__body">
          <h2 class="font-serif-lg">IT Workforce</h2>
          <h3 class="font-serif-md">Recruiting and fostering federal IT talent</h3>
        </div>
      </div>
      <div class="usa-media-block tablet:grid-col hvr-sink">
        <a href="{{ site.baseurl }}/policies-and-priorities/data/"><img class="homepage-icon" src="{{ site.baseurl }}/assets/images/icons/data-large.png" alt="Federal Data Strategy and Data" href=javascript:void(0)></a>
        <div class="usa-media-block__body ">
          <h2 class="font-serif-lg">Data</h2>
          <h3 class="font-serif-md">Using data to effectively deliver our mission</h3>
        </div>
      </div>
    </div>
  </div>
</section>
