{% assign today_date = 'now' | date:'%s' %}

{% for events in site.events %}
{% unless events.title contains 'CIO Council Meeting' %}
{% assign event_date = events.end-date | date: '%s' %}
{% if event_date >= today_date %}


  <div class="padding-bottom-3 margin-top-1">
    <img class="tablet:float-left width-15 padding-right-2 padding-top-0 padding-bottom-2" style="width:150px;height:150px;object-fit:cover;" src="{{ site.baseurl }}/assets/images/events/{{ events.image }}" alt="{{ events.img-alt }}" />

    <p class="card-tag">
      {% if events.start-date %}
      {{ events.start-date | date: '%a, %b %d, %Y' }} -
      {% endif %}
      {{ events.end-date | date: '%a, %b %d, %Y' }}
    </p>

    <p class="text-primary-darker font-serif-lg text-bold">
      {% if events.link and events.link contains "http" %}
        <a class="text-no-underline" href="{{ events.link }}">{{ events.title }}</a>
      {% elsif events.link %}
        <a class="text-no-underline" href="{{ site.baseurl }}{{ events.link }}">{{ events.title }}</a>
      {% else %}
        {{ events.title }}
      {% endif %}
    </p>

    <p class="">{{ events.overview | truncate: 700 }}
      {% if events.external != 1 %}
        <a href="{{ site.baseurl }}{{ events.link }}">Read more about {{ events.title}}</a>
      {% endif %}
    </p>
    {% if events.external_url %}
      <a class="usa-button usa-button--accent-cool margin-top-1" href="https://{{events.external_url}}">Register for this Event</a>
    {% endif %}

  </div>

{% endif %}
{% endunless %}
{% endfor %}
