.usa-footer {
    font-family: Source Sans Pro Web,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
    font-size: .9rem;
    line-height: 1.52155;
  }

.usa-footer a {
    color: #fff;
  }

.privacy {
  text-align: right;
  margin-left: 20px;
}

.footer_gradient {
background: rgb(12,112,148);
background: linear-gradient(90deg, rgba(12,112,148,1) 5%, rgba(22,46,81,1) 100%);
}
