
  @media (min-width: 40em) {
.sml-margin  {
    padding-bottom: 3rem;
    padding-top: 3rem;
}}

.sml-margin {
    padding-bottom: 2rem;
    padding-top: 2rem;
}

.background-dark {
    background-color: #1C304A;
  }

.bg-primary-darker p {
    color: #FFFFFF;
  }

.bg-primary-darker h1 {
    color: #00cfff;
    letter-spacing: 0.5px;
  }

.bg-primary-darker h2, h3 {
    color: #FFFFFF;
  }

.top-tasks {
  text-align: center;
}

.section-intro {
  font-size: 1.5rem;
  margin-bottom: 0;
}

.section-intro h1 {
  font-size: 1.5rem;
  margin-bottom: 0;
}

.homepage-icon {
  width:66px;
  padding-bottom: 10px;
}

.blue-gradient {
  background-image: linear-gradient(#162e51, #1a4480)
}

.blue-gradient h3 {
  color: #FFFFFF;
}

.blue-gradient p {
  color: #ffffff;
  margin: 0px
}

.blue-gradient .title {
  color: #ffffff;
  font-weight: 700;
  font-size: 1.1rem;
  margin: 0px;
}

.blue-gradient .date {
  color: #00bde3;
  text-transform: uppercase;
  font-size: .9rem;
  font-weight: 700;
  letter-spacing: 0.5px;
  margin: 0px;
}

.blue-gradient .description {
  margin-bottom: 25px;
}
