.container {
}

.left{
  width: 35%;
  float:left;
  height: 100px;
}

.left img {
  width: 100%;
  object-fit: cover;
  height: 100px;
}
.right {
  background-color:#f0f0f0;
  width:65%;
  float: right;
  height: 100px;
}

.right p {
  padding: 10px;
  margin-top: 0px;
  font-size: 14px;
}

.bio-photo {
  float:left;
  width:175px;
  margin-right:24px;
}

.name {
  font-size: 14px;
  font-weight: bold;
}

.title {
  font-size: 13px;
  line-height: 10px;
  font-weight: 500;
}
