/************************styling for resources page*********************************/

.border-pub {
  border-left: .2em solid #D83933;
}

.seprate-line {
	width: 30px;
  height: 3px;
  margin-top: 10px;
  margin-bottom: 6px;
  background: #D83933;
}

.shadow-1 {
  padding: 10px;
}

.text-container {
  height: 140px;
}


.description {
  font-size: 12px;
}

.more {
  text-decoration: none;
  color: #D83933;
  height: 30px;
  font-size: 12px;

}

.title-resources {
  font-size: 14.2px;
  line-height: 20px;
  font-weight: 500;
}
