.border-pub {
  border-top: .3em solid #D83933;
  width: 20% ;
}

.seprate-line {
	width: 20px;
  height: 3px;
  margin-top: 10px;
  margin-bottom: 6px;
  background: #D83933;
}

.shadow-1 {
  padding: 10px;
}

.text-container {
  height: 137px;
}

.title {
font-weight: 400;
}

.description {
  font-size: 12px;
}

.more {
  text-decoration: none;
  color: #D83933;
  height: 30px;
  font-size: 12px;

}
