---
---

// Import the US Web Design System minified CSS
//@import "../uswds/css/uswds.css";
// Alternatively, you could import the SCSS files directly for USWDS mixins and variables.
$theme-font-path:   '../uswds/fonts';
$theme-image-path:  '../uswds/img';
@import "scss/uswds";


// This is the main CSS file. You can write your SCSS/SASS in _sass and import
// them here. You probably want to load them _after_ uswds in order to override
// any uswds styles.

//custom scss files
@import "footer";
@import "homepage";
@import "members";
@import "policy";
@import "social";
@import "resources";
@import "news";
@import "pma";


// -------------------------------------
// Import individual theme settings

// @import "fonts"; can import this to set fonts to public sans



//setting universal font for site to public

a {
  overflow-wrap: break-word;  
}

ol.alpha {
  list-style-type: lower-alpha;
}

@media screen and (min-width: 640px) {
  .tablet\:width-1\/3 {
    width: 33%;
  }
  .tablet\:float-left {
    float: left;
  }
}

@media screen and (min-width: 640px) {
  .paginate-link {
    display: initial;
  }
  .paginate-button {
    display: none;
  }
}

@media screen and (max-width: 640px) {
  .paginate-link {
    display: none;
  }
  .paginate-button {
    display: block;
  }
}

.card__cloud {
  img {
    max-height: 100%;
    max-width: 100px;
    height: 120px;
  }

  .left {
    width: auto;
    height: 120px;
  }

  .right {
    float: none;
    display: inline-block;
    height: 120px;
  }

  .role {
    display: block;
    line-height: 1.2rem;
  }

  .title {
    display: block;
    line-height: 1.1rem;
  }
}

//Footer Identifier 
#ogp-identifier.usa-identifier {
  font-family: Source Sans Pro Web, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
  font-size: 1.06rem;
  line-height: 1.3;
  color: white;
  background-color: #1b1b1b;
  padding-bottom: 1rem;


  .usa-identifier__container {
    margin-left: auto;
    margin-right: auto;
    max-width: 64rem;
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 64rem
  }

  @media all and (min-width: 64em) {
    .usa-identifier__container {
        padding-left:2rem;
        padding-right: 2rem
    }
  }

  .usa-identifier__section {
    padding-bottom: 1rem;
    padding-top: 1rem
  }

  @media all and (min-width: 40em) {
    .usa-identifier__section--masthead .usa-identifier__container {
        align-items:center;
        display: flex
    }
  }

  .usa-identifier__logos {
    display: flex;
    margin-right: 1rem
  }

  .usa-identifier__logo {
    text-decoration: none;
    height: 3rem;
    display: block
  }

  .usa-identifier__logo+.usa-identifier__logo {
    margin-left: 0.5rem
  }

  .usa-identifier__logo-img {
    height: 100%;
    width: auto
  }

  .usa-identifier__identity {
    flex: 1 1 0%;
    margin-top: 1rem
  }

  @media all and (min-width: 40em) {
    .usa-identifier__identity {
        margin-top:0
    }
  }

  .usa-identifier__identity-domain,.usa-identifier__identity-disclaimer {
    margin: 0;
    padding: 0
  }

  .usa-identifier__identity-domain {
    color: #a9aeb1
  }

  .usa-identifier__identity-disclaimer {
    font-weight: 700
  }

  .usa-identifier__identity-disclaimer a {
    color: #dfe1e2
  }

  .usa-identifier__identity-disclaimer a:visited {
    color: #dfe1e2
  }

  .usa-identifier__identity-disclaimer a:hover,.usa-identifier__identity-disclaimer a:active {
    color: #f0f0f0
  }

  @media all and (min-width: 40em) {
    .usa-identifier__section--required-links {
        padding-bottom:0.5rem;
        padding-top: 0.5rem
    }
  }

  @media all and (min-width: 64em) {
    .usa-identifier__section--required-links {
        font-size:1rem
    }
  }

  .usa-identifier__required-links-list {
    margin-bottom: 0;
    margin-top: 0;
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 0
  }

  @media all and (min-width: 40em) {
    .usa-identifier__required-links-list {
        -moz-column-count:2;
        column-count: 2;
        -moz-column-gap: 2rem;
        column-gap: 2rem;
        -moz-column-fill: balance;
        column-fill: balance
    }
  }

  @media all and (min-width: 64em) {
    .usa-identifier__required-links-list {
        -moz-column-count:4;
        column-count: 4
    }
  }

  .usa-identifier__required-links-item {
    -moz-column-break-inside: avoid;
    break-inside: avoid;
    margin-bottom: 0.75rem
  }

  .usa-identifier__required-links-item:last-child {
    margin-bottom: 0
  }

  @media all and (min-width: 64em) {
    .usa-identifier__required-links-item {
        margin-bottom:0.5rem
    }
  }

  .usa-identifier__required-link {
    color: #a9aeb1;
    display: inline-block
  }

  .usa-identifier__required-link:visited {
    color: #a9aeb1
  }

  .usa-identifier__required-link:hover,.usa-identifier__required-link:active {
    color: #dfe1e2
  }

  .usa-identifier__section--usagov a {
    color: #dfe1e2;
    font-weight: 700;
    display: inline-block;
    margin-top: 0.5rem
  }

  .usa-identifier__section--usagov a:visited {
    color: #dfe1e2
  }

  .usa-identifier__section--usagov a:hover,.usa-identifier__section--usagov a:active {
    color: #f0f0f0
  }

  @media all and (min-width: 40em) {
    .usa-identifier__section--usagov a {
        margin-top:0
    }
  }

  @media all and (min-width: 40em) {
    .usa-identifier__usagov-description {
        display:inline-flex
    }
  }
}

//White external link mark
.usa-link--external-white::after {
  background-image: url("../images/launch--white.png");
  background-position: 50% 60%;
  background-repeat: no-repeat;
  background-size: 100%;
  content: "";
  display: inline;
  margin-left: 5px;
  padding-left: 0.65em;
}

.usa-link--external-white:hover::after {
  background-image: url("../images/launch--white.png"), linear-gradient(transparent, transparent);
  background-repeat: no-repeat;
}

.usa-link--external-white {
  color: white !important;
}

.event-banner-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

//table in modernize IT symposium event 
.modernize-it-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

.modernize-it-table tbody td {
  padding: 10px 15px; 
  border-bottom: 1px solid #4893D0; 
}

.modernize-it-table th:first-child, 
.modernize-it-table td:first-child {
  width: 20%;
}

.modernize-it-table th:nth-child(2), 
.modernize-it-table td:nth-child(2) {
  width: 30%;
}

.visually-hidden {
  position: absolute !important;
  height: 1px; 
  width: 1px;
  overflow: hidden;
}

.modernize-it-table caption {
  background-color: #4893D0;
  color: #ffffff;
  padding: 10px;
  text-align: left;
  width: 100%;
}

.it-symposium-subtitle {
  background-color: #4893D0;
  color: #ffffff;
  padding: 20px 10px;
  text-align: left;
  width: 100%;
  display: block;
}

/* Responsive container for the table */
.table-responsive {
  overflow-x: auto; 
}

@media screen and (max-width: 768px) {
  .modernize-it-table {
    width: auto; 
  }
  
  /* Adjust the padding and font sizes for smaller screens */
  .modernize-it-table tbody td,
  .modernize-it-table caption {
    padding: 5px; 
    font-size: 0.9em; 
  }
}