---
layout: wide
permalink: /news/
pagination:
  enabled: true
---

<div id="blog" class="bg-primary-darker usa-content font-serif-lg padding-y-6">
  <div class="grid-container">
    <h1 class="text-accent-cool font-sans-lg margin-bottom-0 text-medium"> News </h1>
    <h2 class="text-white font-serif-xl margin-top-0 margin-bottom-0 text-bold"> Articles from the CIO Council & Our Partners </h2>
  </div>
</div>
<div class="grid-container">
  <div class="grid-row">
    <div class="desktop:grid-col-8 usa-prose padding-right-4">
      <!-- This loops through the paginated posts -->
      {% for post in paginator.posts %}
      <div class="padding-bottom-7 margin-top-4 usa-prose border-bottom-05 border-base-lightest">
        <h3 class="title"><a class="usa-link text-no-underline" href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a></h3>
        <div class="text-base margin-bottom-2">
          <div class="margin-top-neg-105"><font color="black">
            By <span class="text-bold">{{ post.author }}</span> · {{ post.date | date: '%B %d, %Y' }}</font>
          </div>
        </div>
        <div>
          {% if post.image %}
          <img class="tablet:float-left width-15 padding-right-2 padding-top-1 padding-bottom-2" style="width:120px;height:120px;object-fit:cover;" src="{{ site.baseurl }}/assets/images/blog/{{ post.image }}" alt="{{ post.img-alt }}" />
          {% endif %}
          <p class="font-sans-sm text-ink">{{ post.excerpt }}</p>
          {% comment %}
            We default to using post.content, but you can also use post.excerpt.
            If you use excerpt then you have to make sure the content is on each
            post header
          {% endcomment %}
          {% if post.tags.size > 0 %}
            <b>Tag{% if post.tags.size > 1 %}s{% endif %}:</b>
            {% assign tags = post.tags %}
            <ul class="tags">
              {% for tag in tags %}
                <a href="{{ site.baseurl }}/tags/{{ tag }}"<li class="tag">{{ tag }}</li></a>
            </ul>
            {% endfor %}
            {% endif %}
        </div>
      </div>
      {% endfor %}
      <!-- Pagination links -->
      <div class="grid-row padding-top-2">
        <div class="tablet:grid-col-4 text-center tablet:order-2 font-body-xs text-base">
          <font color="black">Page {{ paginator.page }} of {{ paginator.total_pages }}</font>
        </div>
        <div class="tablet:grid-col-4 text-right tablet:order-3">
          {% if paginator.next_page %}
          <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="paginate-link usa-link text-no-underline text-bold tablet:margin-top-0">Next {{ paginator.per_page }} Posts &rsaquo;</a>
          <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="paginate-button usa-button margin-top-3">Next {{ paginator.per_page }} Posts &rsaquo;</a>
          {% endif %}
        </div>
        <div class="tablet:grid-col-4 text-left tablet:order-1">
          {% if paginator.previous_page %}
          <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="paginate-link usa-link text-no-underline text-bold tablet:margin-top-0">&lsaquo; Previous {{ paginator.per_page }} Posts</a>
          <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="paginate-button usa-button margin-top-2">&lsaquo; Previous {{ paginator.per_page }} Posts</a>
          {% endif %}
        </div>
      </div>
    </div>
    <aside class="desktop:grid-col-fill margin-top-4 padding-right-4">
      <div class="border-top-1 border-accent-cool-darker padding-top-2 margin-bottom-4 usa-prose">
        <h4 class="">Most Recent Posts</h4>
        <ul class="usa-list usa-list--unstyled padding-top-2">
          {% for post in site.posts limit:3 %}
          <li class="padding-bottom-1"><a class="usa-link" href="{{site.baseurl}}{{post.url}}">{{ post.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
      <div class="border-top-1 border-accent-cool-darker padding-top-2 margin-bottom-4 usa-prose">
        <h4>Popular Posts</h4>
        <ul class=" usa-list usa-list--unstyled padding-top-2">
          <li class="padding-bottom-1"><a class="usa-link" href="{{site.baseurl}}/How-to-win-with-Technology-Business-Management/">How to Win with TBM</a></li>
          <li class="padding-bottom-1"><a class="usa-link" href="{{site.baseurl}}/2018/05/30/risk-report/">Cybersecurity Risk Report & Action Plan</a></li>
          <li class="padding-bottom-1"><a class="usa-link" href="{{site.baseurl}}/2018/06/25/ciso-handbook/">Release of CISO Handbook</a></li>
          <li class="padding-bottom-1"><a class="usa-link" href="{{site.baseurl}}/2018/05/30/it-modernization/">EO 13800 & Updates on Federal IT Modernization</a></li>
          <li class="padding-bottom-1"><a class="usa-link" href="{{site.baseurl}}/tags/ssa/">SSA Modernizing Federal IT Series</a></li>
        </ul>
      </div>
      <div class="border-top-1 border-accent-cool-darker padding-top-2 margin-bottom-4 usa-prose">
        <h4>Social links</h4>
        <ul class="usa-list usa-list--unstyled padding-top-2">
          <li class="padding-bottom-1">
            <svg style="vertical-align: middle;" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="twitter" class="svg-inline--fa fa-twitter fa-w-16 text-primary width-2 margin-right-2" role="img" xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512">
              <path fill="currentColor"
                d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z">
              </path>
            </svg>
            <a class="usa-link" href="https://twitter.com/ciodotgov?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor">@CIOdotgov on Twitter</a>
          </li>

          <li class="padding-bottom-1">
            <svg style="vertical-align: middle;" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="envelope" class="fas fa-envelope fa-w-16 text-primary width-2 margin-right-2" role="img" xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 496 512">
              <path d="M49.106,178.729c6.472,4.567,25.981,18.131,58.528,40.685c32.548,22.554,57.482,39.92,74.803,52.099
          			c1.903,1.335,5.946,4.237,12.131,8.71c6.186,4.476,11.326,8.093,15.416,10.852c4.093,2.758,9.041,5.852,14.849,9.277
          			c5.806,3.422,11.279,5.996,16.418,7.7c5.14,1.718,9.898,2.569,14.275,2.569h0.287h0.288c4.377,0,9.137-0.852,14.277-2.569
          			c5.137-1.704,10.615-4.281,16.416-7.7c5.804-3.429,10.752-6.52,14.845-9.277c4.093-2.759,9.229-6.376,15.417-10.852
          			c6.184-4.477,10.232-7.375,12.135-8.71c17.508-12.179,62.051-43.11,133.615-92.79c13.894-9.703,25.502-21.411,34.827-35.116
          			c9.332-13.699,13.993-28.07,13.993-43.105c0-12.564-4.523-23.319-13.565-32.264c-9.041-8.947-19.749-13.418-32.117-13.418H45.679
          			c-14.655,0-25.933,4.948-33.832,14.844C3.949,79.562,0,91.934,0,106.779c0,11.991,5.236,24.985,15.703,38.974
          			C26.169,159.743,37.307,170.736,49.106,178.729z" fill="#F2EAF5" />
              <path d="M483.072,209.275c-62.424,42.251-109.824,75.087-142.177,98.501c-10.849,7.991-19.65,14.229-26.409,18.699
          			c-6.759,4.473-15.748,9.041-26.98,13.702c-11.228,4.668-21.692,6.995-31.401,6.995h-0.291h-0.287
          			c-9.707,0-20.177-2.327-31.405-6.995c-11.228-4.661-20.223-9.229-26.98-13.702c-6.755-4.47-15.559-10.708-26.407-18.699
          			c-25.697-18.842-72.995-51.68-141.896-98.501C17.987,202.047,8.375,193.762,0,184.437v226.685c0,12.57,4.471,23.319,13.418,32.265
          			c8.945,8.949,19.701,13.422,32.264,13.422h420.266c12.56,0,23.315-4.473,32.261-13.422c8.949-8.949,13.418-19.694,13.418-32.265
          			V184.437C503.441,193.569,493.927,201.854,483.072,209.275z" fill="#F2EAF5"/>
            </svg>
            <a class="usa-link" href="mailto:feedback@cio.gov">Contact Us</a>
          </li>
          <li class="padding-bottom-1">
            <svg style="vertical-align: middle;" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="rss" class="svg-inline--fa fa-rss fa-w-14 text-primary width-2 margin-right-2" role="img" xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 448 512">
              <path fill="currentColor"
                d="M128.081 415.959c0 35.369-28.672 64.041-64.041 64.041S0 451.328 0 415.959s28.672-64.041 64.041-64.041 64.04 28.673 64.04 64.041zm175.66 47.25c-8.354-154.6-132.185-278.587-286.95-286.95C7.656 175.765 0 183.105 0 192.253v48.069c0 8.415 6.49 15.472 14.887 16.018 111.832 7.284 201.473 96.702 208.772 208.772.547 8.397 7.604 14.887 16.018 14.887h48.069c9.149.001 16.489-7.655 15.995-16.79zm144.249.288C439.596 229.677 251.465 40.445 16.503 32.01 7.473 31.686 0 38.981 0 48.016v48.068c0 8.625 6.835 15.645 15.453 15.999 191.179 7.839 344.627 161.316 352.465 352.465.353 8.618 7.373 15.453 15.999 15.453h48.068c9.034-.001 16.329-7.474 16.005-16.504z">
              </path>
            </svg>
            <a class="usa-link" href="{{ site.baseurl }}/feed.xml">RSS Feed</a>
          </li>
        </ul>
      </div>
    </aside>
  </div>
  <div class="grid-row padding-top-4 tablet:padding-x-4 margin-bottom-4">
    <a class="usa-link" href="#blog">Return to top</a>
  </div>
</div>
