
div.sv_qstn_error_top  span.glyphicon-exclamation-sign {
    display: none
}
.progress {
  height: 23px !important;
  width: 100% !important;
}

.progress-bar {
  background-color: #2572b4 !important;
}
.checkbox label, .radio label {
  padding-left: 30px !important;
}

.form-control {
  font-size: 2rem !important;
}

.btn-default {
  color: #335075 !important;
  background-color: #eaebed !important;
  border-color: #dcdee1 !important;
}

.container-fluid {
  padding-right: 15px !important;
  padding-left: 15px !important;
  margin-right: auto !important;
  margin-left: auto !important;
}

/* Removing h2 to prevent side-effect of scrollbars in Chrome  */
.h1, .h2, .h3, .h4, .h5, .h6, h1, h3, h4, h5, h6 {
  width: 100% !important;
  line-height: 1.1 !important;
  color: inherit !important;
  font-weight: 600 !important;
}

h4 {
  font-size: 19px !important;
  padding-bottom: 15px !important;
  padding-top: 15px !important;
}

.h1, .h2, h1, h2 {
  margin-top: 38px !important;
}

h1 {
  margin: .67em 0 !important;
}

.dropdown {
  text-align: center;
}

.dropDownList {
  margin: 0 auto;
  width: 350px;
}

.h1, h1 {
  font-size: 1.9em !important;
}

h2, .h2 {
  font-size: 1.8em !important;
}

.h1, .h2, .h3, h1, h2, h3 {
  margin-top: 23px !important;
  margin-bottom: 11.5px !important;
}

.h3, h3 {
  font-size: 1.2em !important;
  margin-top: 32px !important;
}

.sv_main.sv_main.sv_bootstrapmaterial_css input[type="button"].btn-primary, .sv_main.sv_bootstrapmaterial_css button.btn-primary, .btn-success {
  color: rgb(255, 255, 255);
  background-color: rgb(33, 102, 79) !important;
  font-size: 18px !important;
}

p {
  margin: 0 0 11.5px;
}

.col-md-2 {
    width: 16.6666666667% !important;
}

.col-md-10 {
  width: 83.3333333333% !important;
}
.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
    float: left !important;
}

.row {
  display: block !important;
  margin-right: -15px !important;
  margin-left: -15px !important;
}

.list-item {
  display: list-item !important;
  list-style-position: inside !important;
}

.list-inline > li {
  margin-bottom: 10px;
}

body {
  font-family: "Noto Sans",sans-serif !important;
  font-size: 16px !important;
  line-height: 1.4375 !important;
  color: #333 !important;
  background-color: #fff !important;
}

.home, .results {
  margin-bottom: 50px;
}

.btn-default:visited {
  color: #335075 !important;
}
a:visited {
  color: #7834bc;
}
.nav a, a.btn {
  text-decoration: none !important;
}

a:focus {
  outline: 5px auto -webkit-focus-ring-color !important;
  outline-offset: -2px !important;
}

a:focus, a:hover {
  color: #0535d2;
  text-decoration: underline;
}

a:active, a:hover {
  outline: 0;
}

.btn {
  font-family: Lato,sans-serif !important;
}

.btn {
  border-style: outset !important;
  height: auto !important;
  min-height: 36px !important;
  min-width: 36px !important;
  white-space: normal !important;
}

.btn-default {
  color: #335075 !important;
  background-color: #eaebed !important;
  border-color: #dcdee1 !important;
}

.btn-default:visited {
  color: #335075 !important;
}

.btn-default:hover {
  color: #335075 !important;
  background-color: #cfd1d5 !important;
  border-color: #bbbfc5 !important;
}

.btn.focus, .btn:focus, .btn:hover {
  color: #335075 !important;
  text-decoration: none !important;
}

.btn {
  display: inline-block !important;
  margin-bottom: 0 !important;
  font-weight: 400 !important;
  text-align: center !important;
  vertical-align: middle !important;
  -ms-touch-action: manipulation !important;
  touch-action: manipulation !important;
  cursor: pointer !important;
  background-image: none !important;
  border: 1px solid transparent !important;
  padding: 10px 14px !important;
  font-size: 16px !important;
  line-height: 1.4375 !important;
  border-radius: 4px !important;
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

.usa-banner > .container {
  padding-left: 20px;
  margin: 0;
  max-width: 1034px;
}

.usa-banner {
  padding-bottom: 0;
  font-family: Source Sans Pro Web, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
  font-size: 1.2rem;
  line-height: 1.52155;
  background-color: #f0f0f0;
}

.usa-section-body p {
  font-size: 1.65rem;
  padding-left: 5px;
}

.usa-section-img {
  width: 4rem;
}

.usa-banner__header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.usa-accordion__button {
  color: #005ea2;
  text-decoration: underline !important;
  cursor: pointer;
}

.usa-accordion__button:hover {
  color: #333 !important;
}

.usa-banner__button-arrow {
  background-image: url("img/angle-arrow-down-primary.svg"), linear-gradient(transparent, transparent);
  background-repeat: no-repeat;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 0.5rem;
  content: '';
  display: inline-block;
  height: 0.5rem;
  width: 0.5rem;
  margin-left: 2px;
}

.usa-banner__button[aria-expanded="true"]::after {
  position: absolute;
  bottom: 0;
  top: 0;
  position: absolute;
  right: 0;
  background-color: #dcdee0;
  bottom: 0;
  height: auto;
}

.usa-banner__button[aria-expanded="true"]::after {
  background-image: url("img/close-blue-60v-alt.svg"), -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent));
  background-image: url("img/close-blue-60v-alt.svg"), linear-gradient(transparent, transparent);
  background-repeat: no-repeat;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 1rem;
  content: '';
  display: inline-block;
  height: 3rem;
  width: 3rem;
  margin-left: 0;
}

.usa-banner__row {
  display: flex;
  flex-wrap: wrap;
}

.usa-banner__content {
  padding: 20px;
}

.usa-banner__content-half {
  display: flex;
  align-items: flex-start;
}

.usa-media-block__body {
  padding: 0px 15px;
  line-height: 1.52155;
  font-size: 1.6rem;
}

.usa-banner__header-text {
  margin: 3px 5px !important;
}

.project-link {
  text-align: right;
}

.alert.alert-info {
  margin-top: 10px;
}

html{
  -webkit-font-feature-settings:'kern' 1;
          font-feature-settings:'kern' 1;
  -webkit-font-kerning:normal;
          font-kerning:normal;
  font-family:Source Sans Pro Web, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
  font-size:100%;
}

a{
  color:#005ea2;
  text-decoration:underline;
}

a:hover{
  color:#1a4480;
}

a:active{
  color:#162e51;
}

a:focus{
  outline:0.25rem solid #2491ff;
  outline-offset:0;
}


/******** Header ********/

.menu-button {
  text-align: right;
  padding-right: 0 !important;
}

.usa-menu-btn{
  -moz-osx-font-smoothing:auto;
  -webkit-font-smoothing:subpixel-antialiased;
  color:#005ea2;
  text-decoration:underline;
  background-color:transparent;
  border:0;
  border-radius:0;
  -webkit-box-shadow:none;
          box-shadow:none;
  font-weight:normal;
  margin:0;
  padding:0;
  text-align:left;
  -webkit-box-flex:0;
      -ms-flex:0 0 auto;
          flex:0 0 auto;
  padding-left:1rem;
  padding-right:1rem;
  background-color:#005ea2;
  color:white;
  font-size:1.25rem;
  height:4rem;
  text-align:center;
  text-decoration:none;
  text-transform:uppercase;
}

.usa-menu-btn:hover{
  color:#1a4480;
}

.usa-menu-btn:active{
  color:#162e51;
}

.usa-menu-btn:focus{
  outline:0.25rem solid #2491ff;
  outline-offset:0;
}

.usa-menu-btn:visited{
  color:#562b97;
}

.usa-menu-btn:hover, .usa-menu-btn:active{
  -moz-osx-font-smoothing:auto;
  -webkit-font-smoothing:subpixel-antialiased;
  background-color:transparent;
  -webkit-box-shadow:none;
          box-shadow:none;
  text-decoration:underline;
}

.usa-menu-btn:hover{
  background-color:#1a4480;
  color:white;
  text-decoration:none;
}

.usa-menu-btn:active{
  color:white;
}

.usa-menu-btn:visited{
  color:white;
}

/****** Close button *****/

.usa-nav__close{
  -moz-osx-font-smoothing:auto;
  -webkit-font-smoothing:subpixel-antialiased;
  color:#005ea2;
  text-decoration:underline;
  background-color:transparent;
  border:0;
  border-radius:0;
  -webkit-box-shadow:none;
          box-shadow:none;
  font-weight:normal;
  margin: 0;
  padding: 0;
  text-align: left;
  height: 4rem;
  width: 4rem;
  color: currentColor;
  -webkit-box-flex:0;
      -ms-flex:none;
          flex:none;
  float: right;
  margin:0.75rem 0rem 1rem auto;
  text-align: center;
}

.usa-nav__close:hover{
  color:#1a4480;
}

.usa-nav__close:active{
  color:#162e51;
}

.usa-nav__close:focus{
  outline:0.25rem solid #2491ff;
  outline-offset:0;
}

.usa-nav__close:visited{
  color:#562b97;
}

.usa-nav__close:hover, .usa-nav__close:active{
  -moz-osx-font-smoothing:auto;
  -webkit-font-smoothing:subpixel-antialiased;
  background-color:transparent;
  -webkit-box-shadow:none;
          box-shadow:none;
  text-decoration:underline;
}

.usa-nav__close:hover{
  color:currentColor;
  text-decoration:none;
}

.usa-nav__close img{
  width: 1.25rem;
}

.usa-nav__close + *{
  clear:both;
}

/**** Header ****/

.cio-header-logo {
  height: 45px;
  padding-left: 0px;
}

.logo-header > .container {
  padding-right: 15px;
  margin: 0;
  max-width: 1034px;
}

.cio-menu-search {
  height: 100%;
  width: 230px;
  position: fixed;
  z-index: 350;
  top: 0;
  right: 0;
  background: #fff;
  overflow-x: hidden;
  padding-top: 15px;
}

.usa-nav {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow-y: auto;
  padding: 1.5rem;
  width: 23rem;
  z-index: 500;
}

.usa-nav.is-visible  {
  -webkit-animation: slidein-left 0.3s ease-in-out;
  animation: slidein-left 0.3s ease-in-out;
}

ul.usa-nav__primary {
  padding-left: 0;
}

.usa-nav__primary-item {
  border-top: 1px solid #dcdee0;
  list-style: none;
}

.usa-nav__primary-item {
  list-style: none;
}

.usa-nav__primary .usa-nav__primary-item a{
  text-decoration:none;
  list-style: none;
}

.usa-nav__primary > .usa-nav__primary-item{
  line-height:1.12707;
}

.usa-nav__primary button, .usa-nav__link {
  display: block;
  width: 200px;
  -moz-osx-font-smoothing:auto;
  -webkit-font-smoothing:subpixel-antialiased;
  color:#005ea2;
  text-decoration:underline;
  background-color:transparent;
  border:0;
  border-radius:0;
  -webkit-box-shadow:none;
          box-shadow:none;
  font-weight:normal;
  margin:0;
  padding:0;
  text-align:left;
  color:#565c65;
  font-weight:normal;
  line-height:1.12707;
  padding:1.25rem 1rem;
  text-decoration:none;
}

.usa-nav__primary button:hover, .usa-nav__link:hover {
  color:#1a4480;
}

.usa-nav__primary button:active, .usa-nav__link:active {
  color:#565c65;
}

.usa-nav__primary button:focus, .usa-nav__link:focus {
  outline:0.25rem solid #2491ff;
  outline-offset:0;
}

.usa-nav__primary button:visited, .usa-nav__link:visited {
  color:#565c65;
}

.usa-nav__primary button:hover, .usa-nav__primary button:active,
.usa-nav__link:hover, .usa-nav__link:active{
  -moz-osx-font-smoothing:auto;
  -webkit-font-smoothing:subpixel-antialiased;
  background-color:transparent;
  -webkit-box-shadow:none;
          box-shadow:none;
  text-decoration:underline;
}

.usa-nav__primary button:hover, .usa-nav__link:hover{
  color:#005ea2;
  background-color:#f0f0f0;
  text-decoration:none;
}

.usa-nav__primary button[aria-expanded=false]{
  background-image:url("img/plus-alt.svg"), -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent));
  background-image:url("img/plus-alt.svg"), linear-gradient(transparent, transparent);
  background-repeat:no-repeat;
  background-position: 100% 50%;
  background-size: 1.25rem;
}

.usa-nav__primary button[aria-expanded=true]{
  background-image:url("img/minus-alt.svg"), -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent));
  background-image:url("img/minus-alt.svg"), linear-gradient(transparent, transparent);
  background-repeat:no-repeat;
  background-position:right 0 center;
  background-size: 1.25rem;
}

ul.usa-nav__submenu {
  padding-left: 0;
}

.usa-nav__submenu-item {
  list-style: none;
}

.usa-nav__submenu-item:not(:last-child) {
  border-bottom: 1px solid #dcdee0;
}

.usa-nav__submenu a {
  color: #565c65;
  display: block;
  padding: 1.25rem 1rem 1.25rem 2rem;
  font-size: 1.25rem;
}

/***** Search *****/

.cio-search-links {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow-y: auto;
  padding: 0;
  width: 20rem;
  z-index: 500;
}

.cio-search-links > ul {
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
  margin-top: 10px;
}

.cio-search-links > ul > li a:first-child {
  padding-right: 0.5rem;
}

.cio-search-links > ul > li a {
  color: #71767a;
  display: inline-block;
  font-size: 1.35rem;
  text-decoration: none;
}

.cio-header-search {
  display: flex;
  flex-direction: column;
  justify-content: right;
  text-align: left;
  padding-left: 20px;
}

label[for="extended-search-field-small"] {
  display: none;
}

#extended-search-field-small {
  padding-bottom: 0;
  padding-top: 0;
  border: none;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-top: 1px solid #333;
  border-left: 1px solid #333;
  border-bottom: 1px solid #333;
  height: 3.25rem;
  width: 150px;
  margin: 0;
}

button.usa-button {
  border: 0;
  background: #333;
  color: #dfdfdf;
}

.usa-search [type=submit]{
  background-image:url("img/search.svg"), -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent));
  background-image:url("img/search.svg"), linear-gradient(transparent, transparent);
  background-repeat:no-repeat;
  background-position:center center;
  background-size: 1.75rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 0;
  border-top-right-radius: 5px;
  height: 3.25rem;
  margin: 0;
  padding: 0;
  width: 4rem;
}

button.usa-button > span {
  visibility: hidden;
}

@media screen and (min-width: 760px) {
  .usa-banner__row {
    flex-wrap: nowrap;
  }
}

/* Medium view and over */
@media screen and (min-width: 1034px) {
  .usa-banner > .container {
    padding-left: 0;
    margin: 0 auto;
    max-width: 1140px;
  }

  .cio-header-logo {
    margin: 3rem 0 1.5rem;
  }

	.cio-header-search {
    background: blue;
  }

  .usa-menu-btn{
    display: none;
  }

  .logo-header > .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 960px;
  }
  
  .logo-header > .container > .row {
    margin-right: -15px !important;
    margin-left: -15px !important;
  }

  /***** Search ****/

  .cio-menu-search {
    display: block;
    position: relative;
    background: #fff;
    overflow-x: hidden;
  }

  .cio-search-links > ul {
    list-style: none;
    display: flex;
    justify-content: right;
    text-align: right;
    margin-top: 40px;
  }

  .cio-search-links > ul > li a:first-child {
    padding-right: 0.5rem;
  }

  .cio-search-links > ul > li a {
    color: #71767a;
    display: inline-block;
    font-size: 1.35rem;
    text-decoration: none;
  }

  .cio-search-links > ul > li:last-child::before {
    color: #dcdee0;
    content: '|';
    padding-right: 0.5rem;
  }

  .cio-header-search {
    display: flex;
    flex-direction: column;
    justify-content: right;
    text-align: right;
  }

  label[for="extended-search-field-small"] {
    visibility: hidden;
  }

  #extended-search-field-small {
    padding-bottom: 0;
    padding-top: 0;
    border: none;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-top: 1px solid #333;
    border-left: 1px solid #333;
    border-bottom: 1px solid #333;
    height: 3.25rem;
    width: 250px;
    margin: 0;
  }

  button.usa-button {
    border: 0;
    background: #333;
    color: #dfdfdf;
  }

  .usa-search [type=submit]{
    background-image:url("img/search.svg"), -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent));
    background-image:url("img/search.svg"), linear-gradient(transparent, transparent);
    background-repeat:no-repeat;
    background-position:center center;
    background-size: 1.75rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 0;
    border-top-right-radius: 5px;
    height: 3.25rem;
    margin: 0;
    padding: 0;
    width: 4rem;
  }

  button.usa-button > span {
    visibility: hidden;
  }
}