---
<!-- title: Our Team and Leadership -->
subtitle: Cloud and Infrastructure Community of Practice
layout: defaultwithbanner
permalink: /about/members-and-leadership/cloud-infrastructure-cop/executive-committee/

---
<div id="main-content" class="grid-container usa-section usa-content usa-layout-docs">
        <div class="grid-row grid-gap">

            <aside class="usa-layout-docs-sidenav tablet:grid-col-3 padding-bottom-4">
                <nav>
                    <ul class="usa-sidenav infrastructure-nav">
                        <li class="usa-sidenav__item">
                            <a href="{{site.baseurl}}/about/members-and-leadership/cloud-infrastructure-cop/">Home</a>
                        </li>
                        <li class="usa-sidenav__item usa-current">
                            <a href="{{site.baseurl}}/about/members-and-leadership/cloud-infrastructure-cop/executive-committee/">Leadership</a>
                        </li>
                        <li class="usa-sidenav__item">
                            <a href="{{site.baseurl}}/about/members-and-leadership/cloud-infrastructure-cop/agency-reporting/">Agency Support</a>
                        </li>
                        <li class="usa-sidenav__item">
                            <a href="{{site.baseurl}}/about/members-and-leadership/cloud-infrastructure-cop/about-the-DCCOI-PMO/">The DCCOI PMO</a>
                        </li>
                        <li class="usa-sidenav__item">
                            <a href="{{site.baseurl}}/about/members-and-leadership/cloud-infrastructure-cop/guidance-and-resources/">Guidance and Resources</a>
                        </li>
                    </ul>
                </nav>
            </aside>

            <main>
                <div class="usa-layout-docs__main tablet:grid-col-12 usa-prose">
                    <h1 id="section-heading-h1">Cloud & Infrastructure <br/>Community of Practice Executive<br/> Committee</h1>

                    <p>The Cloud & Infrastructure (C&I) CoP Executive Committee (Ex-Com) provides leadership by directing the CoP on topics for discussion, providing resources to support CoP efforts, and promoting the CoP to the wider federal community. The Ex-Com meets monthly to discuss the state of the CoP and is sponsored by an agency CIO to ensure alignment with the needs of the wider federal CIO community.</p>
                    <h2 id="section-heading-h2">Leadership</h2>
                    {% include cop-leadership.html %}

                    <h2>Members</h2>
                    {% include cop-members.html %}
                </div>
            </main>
        </div>
</div>
