{% comment %}
This is used for just about every page. It provides the border around the content.
The home page uses wide.html layout, since it extends full width of page
{% endcomment %}


{% include header.html %}
{% include menu.html primary_navigation=site.primary_navigation  secondary_navigation=site.secondary_navigation %}

<section class="usa-graphic-list usa-section bg-primary-darker sml-margin">
  <div class="grid-container">
    <div class="grid-row grid-gap">

      <div class="tablet:grid-col-9">
        <h1 class="text-accent-cool font-sans-lg margin-bottom-0 text-medium"> {{ page.title }} </h1>
        <h2 class="text-white font-serif-xl margin-top-0 margin-bottom-0 text-bold"> {{ page.subtitle}} </h2>
      </div>

    </div>
  </div>
</section>

<main class="usa-layout-docs margin-y-4" id="main-content">
  <div class="grid-container">
    {{ content }}
  </div>
</main>

{% include footer.html %}
