{% comment %}
This is used for just about every page. It provides the border around the content.
The home page uses wide.html layout, since it extends full width of page
{% endcomment %}


{% include header.html %}
{% include menu.html primary_navigation=site.primary_navigation  secondary_navigation=site.secondary_navigation %}

<main class="usa-layout-docs usa-section" id="main-content">
  <div class="grid-container">
    <div id="blog" class="bg-primary-darker usa-content font-serif-lg padding-y-6">
      <div class="grid-container">
        <h1 class="text-normal text-white margin-0"> {{page.title}} </h1>
        <span class="text-base-lighter display-block padding-top-1 text-light">This is a description of the page.</span>
      </div>
    </div>
    {{ content }}
  </div>
</main>

{% include footer.html %}
