{% comment %}
This template is used when you want to fill the width of the page, but for a landing page.
{% endcomment %}

{% include header.html %}
{% include menu.html primary_navigation=site.primary_navigation  secondary_navigation=site.secondary_navigation %}

<main class="usa-layout-docs usa-section" id="main-content">
  <div class="grid-container">
    <h1 class="text-normal text-white margin-0">{{ page.title }}</h1>
    <span class="text-base-lighter display-block padding-top-1 text-light">This is a description of the page.</span>
  </div>
  {{ content }}
</main>

{% include footer.html %}
