---
layout: defaultwithbanner
---

{% comment %}
This template is for a single policy landing page.
{% endcomment %}

<div class="grid-row grid-gap">
  {% if page.sidenav == true %}
    {% include sidenav.html %}
  {% endif %}

  <div class="usa-layout-docs__main desktop:grid-col-9 font-sans-sm">
    {{ content }}
    <br>

    {% if page.related-resources-url %}
      <a class="usa-button usa-button--accent-cool" href="{{ site.baseurl }}{{ page.related-resources-url }}">Related Resources</a>
    {% endif %}
      <a href="{{site.baseurl}}/policies-and-priorities/"><h5>&#10094; &nbsp; Back to Policies</h5></a><br>
  </div>

</div>
