---
layout: defaultwithbanner
---

{% comment %}
This template is for a single page that does not have a date associated with it. For example, an about page.
{% endcomment %}


<div class="grid-row grid-gap">
  {% if page.sidenav == true %}
    {% include sidenav.html %}
  {% endif %}

  <div class="usa-layout-docs__main desktop:grid-col-12 usa-prose">
    <p>Welcome to the BETA Policy & Priority Catalog. <b>Use the filters on the left to browse.</b> Our catalog highlights focus areas for the CIO Council, including key federal IT policies and priorities. Can't find what you're looking for? Have general feedback on the catalog? <a href="mailto:feedback@cio.gov">Contact us</a>!</p>
    {{ content }}
  </div>
</div>
