---
layout: defaultwithbanner
---

{% comment %}
This template is for a single policy landing page.
{% endcomment %}

<div class="grid-row grid-gap">
  {% if page.sidenav == true %}
    {% include sidenav.html %}
  {% endif %}

  <div class="usa-layout-docs__main desktop:grid-col-9 usa-prose">
    <a href="{{site.baseurl}}/policies-and-priorities/"><h5>&#10094; &nbsp; Back to Policies</h5></a><br>
    {{ content }}
  </div>
</div>

<!--HIDING ORIGINAL FOR NOW
  <div class="grid-row grid-gap">
  {% if page.sidenav == true %}
    {% include sidenav.html %}
  {% endif %}

  <div class="usa-layout-docs__main desktop:grid-col-12 usa-prose">
    {{ content }}
  </div>
</div>-->
