---
layout: postwithbanner
---
{% comment %}
This is used in blog posts. The index page can be found at blog/index.html
{% endcomment %}

<div class="grid-row grid-gap">
  <div class="usa-layout-docs__main desktop:grid-col-12 font-sans-sm">

          By <span class="text-bold">{{ page.author }}</span> · {{ page.date | date: '%B %d, %Y' }}
          {% for post in site.tags[page.tag] %}
            <b>Tags:</b>
              <ul class="tags">
                {% for tag in tags %}
                  <a href="{{ site.baseurl }}/tags/{{ tag }}"<li class="tag">{{ tag }}</li></a>
                {% endfor %}
              </ul>
          {% endfor %}
    {{ content }}
  </div>
</div>
