---
layout: default
---

{% comment %}
This is used in blog posts. The index page can be found at blog/index.html
{% endcomment %}

<section class="usa-graphic-list usa-section bg-primary-darker sml-margin">
  <div class="grid-container">
    <div class="grid-row grid-gap">
      <div class="tablet:grid">
        <h1 class="section-intro"> From {{ page.author }} </h1>
        <h2 class="font-heading-xl margin-top-0 tablet:margin-bottom-0"> {{ page.title}} </h2>
      </div>
    </div>
  </div>
</section>

<div class="grid-row grid-gap">
  <div class="usa-layout-docs__main desktop:grid-col-9 usa-prose">
    <h1 class="title">{{page.title}}</h1>
    <div class="text-base margin-bottom-2">
        <div class="margin-top-neg-105">
          By <span class="text-bold">{{ page.author }}</span> · {{ page.date | date: '%B %d, %Y' }}
        </div>
      </div>
    {{ content }}
  </div>
      <aside class="usa-width-one-fourth">
          <h5>Tags:</h5>
          {% assign tags = site.tags | sort %}
           <ul class="tags">
          {% for tag in tags %}
              <a href="{{ site.baseurl }}/tags/{{ tag | first | slugify }}/">
                      <li class="tag">{{ tag[0] | replace:'-', ' ' }} ({{ tag | last | size }})</li></a>
          </ul>
          {% endfor %}
          <br><br>
      </aside>
</div>
