---
layout: defaultwithbanner
---
<section class="usa-section usa-section-dark">
  <div class="usa-grid">
    <div class="usa-width-one-whole">
      <h1>News Tagged: {{ page.title }}</h1>
  </div>
</div>
</section>
  <div class="usa-grid">
    <div class="usa-width-three-fourths usa-content">
      {% for post in site.tags[page.tag] %}
            <h6 style="margin-bottom:3px; margin-top: 15px"> {{ post.date | date_to_string }}</h6>
            <a href="{{ post.url | prepend: site.baseurl }}"><h3 style="margin-top:0px">{{ post.title }}</h3></a>
            <h5>By: {{ post.author }}</h5>
            <p>{{ post.content | strip_html | truncatewords:50 }}</p>

            {% if post.tags.size > 0 %}
              <b>Tag{% if post.tags.size > 1 %}s{% endif %}:</b>
              {% assign tags = post.tags %}
              <ul class="tags">
                {% for tag in tags %}
                  <a href="{{ site.baseurl }}/tags/{{ tag }}"<li class="tag">{{ tag }}</li></a>
              </ul>
              {% endfor %}
              {% endif %}
              <br><br>
              <hr>
              <br>
      {% endfor %}
    </div>
    <aside class="usa-width-one-fourths sticky-nav">
      <br><br>
        <b><a href="{{ site.baseurl }}/news/" style=" float:right; text-decoration:none;">  BACK TO NEWS &nbsp; &#10095;</a></b>
    </aside>
    </div>
