---
title: Resource Library
subtitle: Publications, Playbooks, Guidance, and More
layout: policy-catalog
permalink: /resources/
description: Welcome to the Resource Library. This is where our Council shares relevant resources related to Federal IT, such as policy guidance and important websites.
sidenav: false
---

<section class="usa-graphic-list padding-bottom-4">
  <div class="grid-container">
    <div class="usa-graphic-list__row grid-row grid-gap">

      <p class="font-sans-sm padding-top-5">Welcome to the Resource Library. This is where our Council shares relevant resources related to Federal IT, such as policy guidance and important websites. This is a living library, and is consistently updated as we identify or update technology guidance. Use the filters on the left to browse. Can't find what you're looking for? Want to suggest a resource? <a name="main-content" href="mailto:feedback@cio.gov"><font color="black">Contact us</font></a>!</p>

    </div>
  </div>
</section>

<section class="usa-graphic-list margin-bottom-4">
  <div class="grid-container">
    <div class="usa-graphic-list__row grid-row grid-gap">

      {% include resources-buttons.html %}
      {% include resources-policies.html %}

    </div>
  </div>
</section>
